@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.ttf) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(../fonts/Roboto-Medium.ttf) format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.ttf) format("woff2");
    font-weight: bold;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

.out_l_n {
    outline: none;
}

.border_2 {
    border: 2px solid transparent;
}

.cursor_p {
    cursor: pointer;
}

.cursor_none {
    cursor: no-drop;
}

.d_flex {
    display: flex;
}

.space_a {
    justify-content: space-around;
}

.space_b {
    justify-content: space-between;
}

.flex_start {
    justify-content: flex-start;
}

.flex_end {
    justify-content: flex-end;
}

.flex_center {
    justify-content: center;
}

.text_a_j {
    text-align: justify;
}

.text_a_c {
    text-align: center;
}

.text_a_l {
    text-align: left;
}

.text_a_r {
    text-align: right;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.flex_column {
    flex-direction: column;
}

.flex_row-reverse {
    flex-direction: row-reverse;
}

.flex_w {
    flex-wrap: wrap;
}

.align_s {
    align-items: flex-start;
}

.align_c {
    align-items: center;
}

.align_e {
    align-items: flex-end;
}

.text_tr_u {
    text-transform: uppercase;
}

.font_st_i {
    font-style: italic;
}

.text_c {
    text-align: center;
}

.text_r {
    text-align: right;
}

.text_l {
    text-align: left;
}

.mb_15 {
    margin-bottom: 15px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mr_20 {
    margin-right: 20px;
}

.mr_10 {
    margin-right: 10px;
}

.ml_10 {
    margin-left: 10px;
}

.pl_10 {
    padding-left: 10px;
}

.color_white {
    color: #ffffff;
}

.color_grey {
    color: #474747;
}

.color_grey2 {
    color: #999999;
}

.color_grey3 {
    color: #666666;
}

.color_blue {
    color: #4C5BD4;
}

.color_org {
    color: #FFA800;
}

.color_green {
    color: #76B51B;
}

.color_red {
    color: #FF3333;
}

.color_blue2{
    color: #2A38A2;
}

.back_blue {
    background: #4C5BD4;
}

.back_green {
    background: #76B51B;
}

.back_org {
    background: #FFA800;
}

.back_red {
    background: #FF3333;
}

.back_w {
    background: #ffffff;
}

.back_grey {
    background: #474747;
}

.back_grey2 {
    background: #EBEEF5;
}

.btn_orange {
    color: #ffffff;
    background: #FFA800;
    border: 1px solid #ffffff;
}

.btn_orange_w {
    color: #FFA800;
    background: #ffffff;
    border: 2px solid #FFA800;
}

.white_s_nw {
    white-space: nowrap;
}

.btn_login {
    color: #ffffff;
    background: #4C5BD4;
    border: 1px solid #ffffff;
}

.btn_blue_w {
    color: #4C5BD4;
    background: #ffffff;
    border: 2px solid #4C5BD4;
    padding: 10px 50px;
    text-align: center;
    border-radius: 15px;
}

.border_r12 {
    border-radius: 12px;
}

.font_s10 {
    font-size: 10px;
}

.font_s12 {
    font-size: 12px;
}

.font_s13 {
    font-size: 13px;
}

.font_s14 {
    font-size: 14px;
}

.font_s15 {
    font-size: 15px;
}

.font_s16 {
    font-size: 16px;
}

.font_s18 {
    font-size: 18px;
}

.font_s20 {
    font-size: 20px;
}

.font_s22 {
    font-size: 22px;
}

.font_s23 {
    font-size: 23px;
}

.font_s24 {
    font-size: 24px;
}

.font_s25 {
    font-size: 25px;
}

.font_s26 {
    font-size: 26px;
}

.font_s28 {
    font-size: 28px;
}

.font_s30 {
    font-size: 30px;
}

.font_s40 {
    font-size: 40px;
}

.line_h47 {
    line-height: 46.88px;
}

.line_h15 {
    line-height: 15px;
}

.line_h17 {
    line-height: 17px;
}

.line_h16 {
    line-height: 16px;
}

.line_h18 {
    line-height: 18px;
}

.line_h19 {
    line-height: 18.75px;
}

.line_h21 {
    line-height: 21px;
}

.line_h22 {
    line-height: 22px;
}

.line_h24 {
    line-height: 24px;
}

.line_h25 {
    line-height: 25px;
}

.line_h26 {
    line-height: 26px;
}

.line_h27 {
    line-height: 27px;
}

.line_h32 {
    line-height: 32px;
}

.line_h33 {
    line-height: 33px;
}

.line_h36 {
    line-height: 36px;
}

.line_h42 {
    line-height: 46.88px;
}

.line_h47 {
    line-height: 46.88px;
}

.font_wB {
    font-weight: bold;
}

.font_wN {
    font-weight: normal;
}

.font_w400 {
    font-weight: 400;
}

.font_w500 {
    font-weight: 500;
}

.font_w700 {
    font-weight: 700;
}

.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}

.display_none {
    display: none;
}

.blur {
    opacity: 0.5;
}


/* ------------------------------------ */


/* Kho */

.sidebar {
    width: 280px;
    height: auto;
    background: #4C5BD4;
    position: fixed;
    z-index: 3;
    padding-bottom: 50px;
}

.logo_timviec365 {
    padding: 26px 56px;
}

.body_sidebar .item_sidebar {
    cursor: pointer;
    padding: 13px 17px;
    color: #FFFFFF;
}


/* .body_sidebar .item_sidebar:hover {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #4C5BD4 !important;
    transition: 0.3s;
} */

.body_sidebar .item_sidebar:hover img.home_b {
    display: block;
}

.body_sidebar .item_sidebar:hover img.home_w {
    display: none;
}

.img_li {
    margin-right: 15px;
}

.li_sidebar {
    background: #FFFFFF;
}

.ul_sidebar .active .li_sidebar .item_sidebar {
    background: #FFFFFF;
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25); */
    border-radius: 10px;
    color: #4C5BD4;
}

.ul_sidebar .active .li_sidebar .item_sidebar img.home_b {
    display: block;
}

.ul_sidebar .active .li_sidebar .item_sidebar img.home_w {
    display: none;
}

.ul_sidebar_con {
    display: none;
}

.show {
    display: block;
}

.da_show {
    display: block;
}

.span_before_sidebar {
    position: absolute;
    background: #4C5BD4;
    border-radius: 20px 0px 0px 17px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 5px;
    height: 32px;
    left: 0;
    top: 7px
}

.margin_a {
    margin: auto;
}

.main_wrapper_all {
    background: #F7F8FC;
    display: flex;
    justify-content: flex-end;
    min-height: 100vh;
}

.list_item_sidebar {
    background: #ffffff;
    /* height: 100vh; */
}

.main_sidebar {
    position: fixed;
    left: 0;
    top: 0;
}

.main_overview {
    margin: 15px;
    width: calc(100% - 310px);
    margin-bottom: 200px;
    min-height: 100vh;
}

.line_h28 {
    line-height: 28px;
}

.color_green_l {
    color: #609E05;
}

.color_green_tb {
    color: #34B632;
}

.color_green_kk {
    color: #1D8322;
}

.color_violet {
    color: #682A81;
}

.color_blue_l {
    color: #087D90;
}

label.error {
    color: #FF3333;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    font-weight: 500;
}