@media screen and (width > 1366px) {
    .item_body_overview {
        width: calc(100%/3 -20px);
    }
}


/* trang tổng quan */

.avt_nv_dn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bg_log_img .ten_nv_dn {
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    z-index: 4;
    /* padding-top: 30px; */
    padding-bottom: 30px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
}

.header_sidebar {
    width: 280px;
    height: 87px;
    background: #FFFFFF;
    padding: 25px 56px 25px 56px;
    border-bottom: 2px solid #4C5BD4;
}

.item_sidebar {
    width: 280px;
    height: 50px;
    background: #FFFFFF;
}

.title_list_item_sidebar,
.icon_list_item_sidebar {
    padding-left: 15px;
}

.header_menu_overview {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 57px;
    width: 100%;
    padding: 0 15px 0 15px;
    /* position: fixed; */
}

.notifi_sl {
    left: 20px;
    top: -5px;
}

.event_header_overview {
    margin-left: 60px;
    border-radius: 50%;
}

.name_header_overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    width: 99px;
    margin: 0 4px 0 8px;
}

.id_header_overview {
    margin: 0 8px 0 4px;
}

.padding_tb20 {
    padding: 20px 0 20px 0;
}

.padding_l5 {
    padding-left: 5px;
}

.margin_10 {
    margin: 10px;
}

.padding_tb_15_10 {
    padding: 15px 0px 10px 0px;
}

.item_body_overview {
    width: calc(100% / 3 - 20px);
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    position: relative;
}

.see_details {
    padding-top: 10px;
}

.next_item_img {
    margin-top: 10px;
}

.item_advantages {
    height: 178px;
}

.button_see_details {
    border-top: 1px dashed #EEEEEE;
    position: relative;
}
.link_detail{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.active_item_sidebar_s {
    margin-right: 20px;
    margin-left: 5px;
}

.boder_vertical {
    border-left: 1px solid #4C5BD4;
}

.backgroud_item_sidebar {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #4C5BD4;
    margin-right: 20px;
    margin-left: 5px;
}

.information_ul_sidebar_con::before {
    content: "";
    width: 2px;
    left: 27px;
    top: 0px;
    background-color: #4C5BD4;
    position: absolute;
    display: block;
    z-index: 1;
    height: 175px;
    height: calc(100% - 25px);
}

.report_ul_sidebar_con::before {
    content: "";
    width: 2px;
    left: 27px;
    top: 0px;
    background-color: #4C5BD4;
    position: absolute;
    display: block;
    z-index: 1;
    height: 130px;
}

.body_sidebar {
    position: fixed;
    width: 290px;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 88px;
    bottom: 0;
    height: calc(100% - 87px);
}

.user_member {
    padding: 0 8px 0 8px;
}

.backgroud_popup_item_w200 {
    width: 200px;
    background: #FFFFFF;
    border-radius: 10px 10px 0px 0px;
}

.header_popup_item {
    right: -15px;
    top: 50px;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    z-index: 3;
}

.box_s_d {
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
}

.item_header {
    height: 40px;
}

.img_item_header {
    padding: 0 10px 0px 15px;
}

.main_popup_logout {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 500px;
    height: 310px;
}

.header_popup_blue {
    background: #4C5BD4;
    border-radius: 10px 10px 0px 0px;
    height: 54px;
}

.close_w_popup_blue {
    right: 19px;
}

.title_popup_logout {
    padding: 69px 82px 69px 81px;
}

.button_close {
    border: 1px solid #4C5BD4;
    box-sizing: border-box;
    border-radius: 6px;
    background: #FFFFFF;
    width: 140px;
    height: 36px;
    cursor: pointer;
}

.button_accp {
    width: 140px;
    height: 36px;
    background: #4C5BD4;
    border-radius: 6px;
    cursor: pointer;
    border: 0;
}

.button_popup_logout {
    margin: 0 76px 0 76px;
}

.main_nhac_nho {
    width: 340px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    height: 431px;
    border-radius: 10px;
}

.popup_nhac_nho,
.popup_thong_bao {
    top: 80px;
    right: 15px;
    border-radius: 10px;
}

.header_popup_nhac_nho {
    width: 340px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 10px 10px 0px 0px;
    padding: 0 15px 0 15px;
}

.body_popup_nhac_nho {
    width: 340px;
    height: 345px;
    overflow-y: scroll;
    position: fixed;
    overflow-x: hidden;
}

.body_popup_nhac_nho::-webkit-scrollbar,
.list_contrustion::-webkit-scrollbar,
.list_member::-webkit-scrollbar,
.body_sidebar::-webkit-scrollbar {
    width: 10px;
}

.body_popup_nhac_nho::-webkit-scrollbar-thumb,
.list_member::-webkit-scrollbar-thumb,
.list_contrustion::-webkit-scrollbar-thumb {
    background: #4C5BD4;
    border-radius: 30px;
    min-height: 86px;
}

.body_popup_nhac_nho::-webkit-scrollbar-track,
.list_member::-webkit-scrollbar-track,
.list_contrustion::-webkit-scrollbar-track {
    background: #CCCCCC;
    border-radius: 30px;
}

.body_sidebar::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 30px;
    min-height: 300px;
}

.body_sidebar::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 30px;
}

.bottom_popup_nhac_nho {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0px 0px 10px 10px;
    height: 36px;
    width: 100%;
    bottom: 0;
}

.img_popup_prompt {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.item_prompt {
    padding: 10px 15px 10px 15px;
}

.time_line_prompt {
    color: rgba(71, 71, 71, 0.7);
    padding-top: 5px;
}

.active_unread {
    background: #EAECFA;
}

.li_sidebar .active .item_sidebar_cha {
    background: rgb(42, 56, 162);
    border-radius: 100px 0px 0px 100px;
}

.li_sidebar .active .item_sidebar_cha .p_item_sidebar {
    color: #FFFFFF;
}

.li_sidebar .active .item_sidebar_cha .img_b {
    display: none;
}

.li_sidebar .active .item_sidebar_cha .img_w {
    display: block;
}

.li_sidebar .active.item_sidebar_cha {
    background: rgb(42, 56, 162);
    border-radius: 100px 0px 0px 100px;
}

.li_sidebar .active.item_sidebar_cha .p_item_sidebar {
    color: #FFFFFF;
}

.li_sidebar .active.item_sidebar_cha .img_b {
    display: none;
}

.li_sidebar .active.item_sidebar_cha .img_w {
    display: block;
}

.li_sidebar .show .li_sidebar_con .active .backgroud_item_sidebar {
    background: #FFA800;
    z-index: 3;
}

.li_sidebar .show .li_sidebar_con .active .color_blue {
    color: #FFA800;
}


/* danh sach vật tư */

.body_equipment_supplies {
    padding-top: 20px;
}

.all_equipment_supplies {
    width: 266px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
    /* padding: 10px 15px 10px 15px; */
}

.all_manufacturer {
    width: 182px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.all_provenance {
    width: 141px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}

.no_sort_price {
    width: 195px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    border: 0;
}

.search_equipment_id {
    width: 420px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #666666;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 15px 10px 16px;
}

.icon_search_equipment_id {
    top: 10px;
    right: 15px;
}

.button_add_new {
    width: 138px;
    height: 36px;
    background: #4C5BD4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
    border: 0;
}

.button_export_excel {
    width: 138px;
    height: 36px;
    background: #34B632;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 9px 0px 9px 0px;
    border: 0;
}

.img_button_add_new,
.img_button_export_excel {
    margin-left: 23px;
}

table.table {
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    background: #FFFFFF;
}

.main_table .table_equipment_supplies {
    width: 2080px;
}

.main_table {
    width: 100%;
    overflow-x: auto;
    border-radius: 10px;
    padding-bottom: 5px;
    /* box-shadow: 0px 0px 10px rgb(0 0 0 / 10%); */
}

.main_table::-webkit-scrollbar {
    height: 10px;
}

.main_table::-webkit-scrollbar-thumb {
    background: #4C5BD4;
    border-radius: 30px;
    min-height: 86px;
}

.main_table::-webkit-scrollbar-track {
    background: #CCCCCC;
    border-radius: 30px;
}

table.table tbody tr th {
    background: #4C5BD4;
    color: #ffffff;
    position: relative;
    text-align: center;
}

table.table tbody tr th .span_tbody::before {
    content: "";
    width: 1px;
    background: #ffffff;
    height: 80%;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 10%;
}

.table_equipment_supplies img {
    object-fit: none;
    margin-right: 5px;
    height: auto;
    width: auto;
}

.margin_lr5 {
    margin: 0 5px 0px 5px;
}

.table_equipment_supplies tbody tr td:nth-child(3),
.table_equipment_supplies tbody tr td:nth-child(4),
.table_equipment_supplies tbody tr td:nth-child(8),
.table_equipment_supplies tbody tr td:last-child {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

.table_equipment_supplies tbody tr td:nth-child(9) {
    text-align: right;
    padding-right: 16px;
}

.list_choonse_item {
    width: 77px;
    height: 26px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
    padding: 5px 16px 5px 22px;
}

.item_pagination {
    background: #FFFFFF;
    border: 1px solid #666666;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
    border-radius: 4px;
    width: 19px;
    height: 19px;
    text-align: center;
}

.number_item_pagination {
    padding: 2px 1px 2px 1px;
}

.next_item_g {
    /* margin-right: 65px; */
}

.list_item_search_all_equipment {
    width: 266px;
    height: 180px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    z-index: 2;
    background: #FFFFFF;
    top: 40px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list_item_search_all_equipment::-webkit-scrollbar,
.list_item_search_all_manufacturer::-webkit-scrollbar,
.list_item_search_all_provenance::-webkit-scrollbar {
    width: 10px;
}

.list_item_search_all_equipment::-webkit-scrollbar-thumb,
.list_item_search_all_provenance::-webkit-scrollbar-thumb,
.list_item_search_all_manufacturer::-webkit-scrollbar-thumb {
    background: #4C5BD4;
    border-radius: 10px;
    min-height: 86px;
}

.list_item_search_all_equipment::-webkit-scrollbar-track,
.list_item_search_all_provenance::-webkit-scrollbar-track,
.list_item_search_all_manufacturer::-webkit-scrollbar-track {
    background: #EEEEEE;
    border-radius: 10px;
}

.item_search_all {
    padding: 10px 0px 10px 15px;
    height: 36px;
    cursor: pointer;
}

.item_search_all:hover,
.number_item_pagination:hover,
.item_choonse_show:hover {
    background: #4C5BD4;
    color: #ffffff;
}

.list_item_search_all_manufacturer {
    width: 182px;
    height: 180px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    z-index: 2;
    background: #FFFFFF;
    top: 40px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list_item_search_all_provenance {
    width: 141px;
    height: 180px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    z-index: 2;
    background: #FFFFFF;
    top: 40px;
    right: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.list_item_search_no_sort_price {
    width: 195px;
    height: 108px;
    border: 1px solid #CCCCCC;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
    z-index: 2;
    background: #FFFFFF;
    overflow-y: hidden;
    top: 40px;
    right: 0;
}

.list_item_choonse_show {
    width: 77px;
    height: 130px;
    border: 1px solid #CCCCCC;
    background: #FFFFFF;
    border-radius: 10px;
    z-index: 3;
    top: 30px;
    right: 0;
    overflow-y: hidden;
}

.item_choonse_show {
    padding: 5px 0px 5px 0px;
    height: 26px;
}

.body_equipment_supplies_edit,

.body_equipment_supplies_create {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.header_body_b {
    padding: 15px 0px 16px 20px;
    background: #4C5BD4;
    border-radius: 10px 10px 0px 0px;
}

.input_create_equipment_supplies,
.upload_equipment_supplies,
.details_equip,
#add_equip {
    width: 50%;
}

.input_create_equipment_supplies {
    padding: 0 10px 0px 20px;
}

.upload_equipment_supplies {
    padding: 0 20px 0px 10px;
}

.input_value_grey {
    background: #EEEEEE;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 0px 0px 0px 12px;
    height: 36px;
}

.input_value_w {
    background: #ffffff;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 0px 0px 0px 12px;
    height: 36px;
}

.input_value {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    padding: 10px 0px 10px 12px;
}


/* .alert_red {
  margin-bottom: 5px;
} */

.aaa {
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    border-radius: 3px 3px 0px 0px;
}

.text_unit_price {
    top: 15px;
    right: 15px;
}

.upload_file_img {
    width: 100%;
    height: 332px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    /* padding-top: 141px; */
}
.body_equipment_supplies_create .upload_file_img{
    padding-top: 141px !important;
}

.button_add_new_equipment_supplies {
    padding-top: 25px;
}

.button_add_new_equipment_supplies .button_accp {
    margin-left: 60px;
}

.button_delete {
    width: 138px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 9px 0 9px 0;
    border: 0;
}

.title_detail {
    width: 197px;
}

.boder_detail {
    border-bottom: 1px dashed #CCCCCC;
    padding-bottom: 17px;
}

.description_detail_table {
    width: 50%;
    padding: 0 1px 20px 20px;
}

.description_detail {
    width: calc(100% - 197px);
}

.img_detail {
    width: 100%;
    height: 332px;
}

.padding_b20 {
    padding-bottom: 20px;
}

.img_list_choose {
    right: 0;
}

.mb_5 {
    margin-bottom: 5px;
}

.mt_5 {
    margin-top: 5px;
}

.ml_5 {
    margin-left: 5px;
}

.ml_15 {
    margin-left: 15px;
}

.mr_15 {
    margin-right: 12px;
}
.mr_12 {
    margin-right: 12px;
}

.mt_20 {
    margin-top: 20px;
}

.mt_17 {
    margin-top: 17px;
}

.mt_15 {
    margin-top: 15px;
}

.ml_20 {
    margin-left: 20px;
}

.mr_75 {
    margin-right: 75px;
}

.all_kho {
    width: 293px;
    /* margin-bottom: 15px; */
}

.all_kho_export {
    width: 242px;
}

.all_kho_status_export {
    width: 252px;
}

.export_kho {
    width: 1973px;
}

.ava_human_table {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
}

.select_create {
    width: 100%;
    height: 36px;
}

.select_create .selection .select2-selection--single {
    width: 100%;
    height: 36px;
    /* background: #FFFFFF; */
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: none;
}

.select_create .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 3px;
}

.select_create .select2-container--open .select2-dropdown {
    top: 0px;
    box-shadow: none;
    border-radius: 3px;
}

.width_create_choose {
    width: calc(100% /2);
}

.body_create_export_kho {
    padding: 20px;
}

.note {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 10px 12px 10px 12px;
}

.table_1 {
    width: 1815px;
}

.table_2 {
    width: 1636px;
}

.table_3 {
    width: 1428px;
}

.select_materials_equipment {
    border: none;
}

.select_input {
    width: 100%;
}

.select_input .selection .select2-selection--single {
    width: 100%;
    height: 36px;
    background: #FFFFFF;
    box-shadow: none;
    border: none;
}

.select_input.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 3px;
    box-shadow: none;
}

.select_input .select2-container--open .select2-dropdown {
    top: 0px;
    box-shadow: none;
}

.select_input .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.select_input .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #4C5BD4;
    padding-left: 15px;
    padding-right: 15px;
}

.table_hoat_dong .pre_q {
    display: none;
}

.table_thong_tin .pre_q {
    display: none;
}

.table_hoat_dong .next_q {
    display: none;
}

.table_thong_tin .next_q {
    display: none;
}

.w_50 {
    width: 50%;
}

.export_kho_detail {
    width: 100%;
    padding: 17px 0px 17px 20px;
}

.button_refuse {
    width: 138px;
    height: 36px;
    background: #FFA800;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
}

.button_browse {
    width: 138px;
    height: 36px;
    background: #2A38A2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
}

.img_button_refuse {
    width: 12px;
    height: 12px;
    margin-left: 33px;
}

.img_button_browse {
    width: 15.45px;
    height: 12px;
    margin-left: 37px;
}

.boder_detail_top {
    border-top: 1px dashed #CCCCCC;
    padding-top: 17px;
}

.title_detail_export_transfer {
    width: 300px;
}

.hw_check {
    height: 16px;
    width: 16px;
}

.button_set_permissions {
    width: 138px;
    height: 36px;
    background: #4C5BD4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
    padding: 0 15px;
}

.mr_30 {
    margin-right: 30px;
}

.a {
    width: 101%;
    height: 3px;
    background: rgba(204, 204, 204, 0.48);
    border-radius: 100px;
    left: 0px;
    top: 20px;
}

.backgroud_setting {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
}

.padding_b40 {
    padding-bottom: 40px;
}

.circle_b {
    width: 18px;
    height: 18px;
    background: #4C5BD4;
    border: 1px solid #474747;
    box-sizing: border-box;
    border-radius: 50%;
}

.circle_w {
    width: 18px;
    height: 18px;
    background: #ffffff;
    border: 1px solid #474747;
    box-sizing: border-box;
    border-radius: 50%;
}

.mr_109 {
    margin-right: 109px;
}

.mr_140 {
    margin-right: 140px;
}

.width_setting {
    width: 145px;
}

.head_popup_blue {
    /* width: 500px; */
    height: 54px;
    background: #4C5BD4;
    border-radius: 10px 10px 0px 0px;
    padding: 17px 0 18px 0;
}

.body_popup_blue {
    width: 100%;
    height: 256px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}

.close_header_popup_blue {
    width: 17px;
    height: 17px;
    right: 15px;
    top: 17px;
}

.pd_69 {
    padding: 69px 0 69px 0;
}

.mr_68 {
    margin-right: 68px;
}

.main_popup_500 {
    width: 500px;
    margin: auto;
}

.body_popup_blue_500 {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
    padding: 20px 20px 24px 20px;
}

.body_popup_blue_500 input,
.body_popup_blue_500 textarea {
    padding: 10px 12px;
}

.mt_25 {
    margin-top: 25px;
}

.ready_upload_logo {
    width: 100%;
    height: 332px;
    object-fit: fill;
}

.del_logo {
    right: 10px;
    top: 10px;
}

.table_detail_manufacturer {
    width: 1891px;
}

.b {
    width: 60px;
    height: 3px;
    background: #2A38A2;
    border-radius: 100px;
    left: 285px;
    top: 20px;
}

.c {
    width: 60px;
    height: 3px;
    background: #2A38A2;
    border-radius: 100px;
    left: 140px;
    top: 20px;
}

.d {
    width: 60px;
    height: 3px;
    background: #2A38A2;
    border-radius: 100px;
    left: 15px;
    top: 20px;
}

.selected_export_transfer .select_create .select2-container--default {
    width: 100%;
}

.selected_export_on_demand .select_create .select2-container--default {
    width: 100%;
}

.button_complete {
    width: 138px;
    height: 36px;
    background: #4C5BD4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0;
}

.title_detail_export_transfer1 {
    width: 275px;
}

.cke_bottom.cke_reset_all {
    display: none;
}

.table_manufacturer {
    width: 100%;
}

#block02 {
    width: 100%;
}

#add_infomation {
    order: 1;
}

#add_equip {
    order: 3;
}

#upload_equips {
    order: 2;
}

#details_equip {
    order: 4;
}

.body_equipment_supplies_detail {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.img_detail_upload {
    width: 100%;
}

#block34 {
    flex-wrap: wrap;
}

#block31 {
    order: 1;
}

#block32 {
    order: 2;
}

#block33 {
    order: 3;
}

.icon_img_tq {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.notifi_sl_tq {
    left: 15px;
    top: -5px;
}

.icon_sidebar_hw {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

#cke_1_top #cke_33, #cke_18, #cke_19, #cke_48 {
    display: none;
}

.cke_top {
    height: 62px;
}

.boder_ra_input_grey {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 3px;
}

label.error {
    color: #FF3333;
    font-size: 12px;
    line-height: 18px;
    font-style: italic;
    font-weight: 500;
    /* position: absolute; */
}

.pd_lr_77 {
    padding-left: 57px;
    padding-right: 57px;
}

.date_create {
    width: 289px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.date_cr_export {
    width: 295px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.icon_date_click {
    margin-top: 10px;
    margin-right: 15px;
}
.home_page .log_in-out .bg_log_aff{
    display: flex;
    align-items: center;
    width: 30px;
    float: left;
    height: 30px;
}
.home_page .log_in-out .bg_log_aff img.avt_nv_dn   {
    width: 34px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.mrt_-50 {
    margin-top: -50px;
}

@media (max-width: 1024px) {
    .table_hoat_dong .pre_q {
        display: flex;
    }

    .table_thong_tin .pre_q {
        display: flex;
    }

    .table_hoat_dong .next_q {
        display: flex;
    }

    .table_thong_tin .next_q {
        display: flex;
    }

    .body_tong_quan {
        padding-top: 15px;
    }

    .header_menu_overview {
        position: fixed;
        z-index: 10;
    }

    .main_sidebar {
        display: none;
        z-index: 5;
    }

    .header_sidebar {
        display: none !important;
    }

    .main_overview {
        width: 100%;
        margin: 0;
        margin-bottom: 150px
    }

    .header_menu_overview {
        height: 45px;
        background: #4C5BD4;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
        border-radius: 0;
    }

    .info_header {
        display: none;
    }

    .img_header {
        display: block !important;
        margin-left: 50px;
    }

    .list_item_header {
        display: none;
    }

    .header_img_w {
        display: block !important;
    }

    .header_img_b {
        display: none !important;
    }

    .text_link_page {
        display: none !important;
    }

    .open_sidebar_w {
        display: block !important;
    }

    .body_sidebar {
        top: 45px;
        /* min-height: 100vh; */
        box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
    }

    .body_sidebar::-webkit-scrollbar {
        width: 10px;
    }

    .body_sidebar::-webkit-scrollbar-thumb {
        /* background: transparent; */
        border-radius: 30px;
        min-height: 86px;
    }

    .body_sidebar::-webkit-scrollbar-track {
        /* background: transparent; */
        border-radius: 30px;
    }

    .header_popup_item {
        right: -5px;
    }

    .text_link_page_re {
        display: block !important;
        margin-top: 45px;
    }

    .body_equipment_supplies .text_link_page_re {
        margin-top: 0;
    }

    .padding_tb20 {
        padding: 30px 0 15px 0;
    }

    .body_equipment_supplies {
        padding: 15px;
        margin-top: 45px;
    }

    .main_body_setting {
        padding: 15px;
    }

    .table_decentralization.table_permissions {
        width: 1046px;
    }

    .text_link_header_back {
        display: none !important;
    }

    .text_link_body_back {
        display: block !important;
    }

    .cke_bottom.cke_reset_all {
        display: none;
    }

    #cke_12,
    #cke_20,
    #cke_22,
    #cke_26,
    #cke_31,
    #cke_33 {
        display: none;
    }

    .table_decentralization {
        width: 1046px;
    }

    .mb_20 {
        margin-bottom: 15px;
    }

    .mt_20 {
        margin-top: 15px;
    }

    .date_create.mt_20 {
        margin-top: 0;
    }


    .upload_file_img {
        height: 332px;
    }

    .ready_upload_logo {
        height: 332px;
    }
}

@media(max-width: 1023.98px) {
    .all_kho_export.mr_20 {
        margin-left: 20px;
    }

    .mrt_-50{
        margin-top: 0;
    }
    .export_kho_pc {
        display: none;
    }

    .export_kho_mb_tl .export_wh {
        flex-wrap: nowrap;
    }

    .export_kho_mb_tl {
        display: block !important;
    }

    .item_body_overview {
        width: 359px;
    }

    .flex_swap_select_equipment_supplies {
        flex-wrap: wrap;
    }

    #block01 {
        width: 100%;
        order: 1;
    }

    #block03 {
        width: 100%;
        order: 1;
    }

    #block02 {
        width: 100%;
        order: 2;
        margin-top: 20px;
    }

    #upload_equips {
        width: 100%;
        order: 1;
    }

    #add_infomation {
        width: 100%;
        order: 2;
    }

    #add_equip {
        width: 100%;
        order: 3;
        margin-bottom: 0;
    }

    #details_equip {
        width: 100%;
        order: 4;
        margin-bottom: 20px;
    }

    .input_create_equipment_supplies {
        padding: 0 20px 0 20px;
    }

    .upload_equipment_supplies {
        padding: 0 20px 0 20px;
    }

    #upload_equipment_supplies {
        order: 1;
        width: 100%;
        margin-top: 20px;
    }

    #description_detail_table {
        order: 2;
        width: 100%;
    }

    #block10 {
        flex-wrap: wrap;
    }

    #block12 {
        order: 2;
        margin-top: 15px;
        width: 100%;
        justify-content: flex-end;
        display: flex;
    }

    #block11 {
        order: 1;
        width: 100%;
        justify-content: flex-end;
    }

    #block20 {
        order: 2;
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
        display: flex;
    }

    #block21 {
        order: 1;
        width: 100%;
        justify-content: flex-end;
    }

    #block32 {
        width: 100;
        flex-wrap: wrap;
    }

    #block32:first-child .input_value_grey{
        margin-bottom: 15px;
    }
    .width_create_choose {
        width: 100%;
        margin: 0;
    }

    #block33 {
        margin-top: 15px;
    }

    #block38 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block36 {
        width: 100%;
        order: 1;
        justify-content: flex-end;
    }

    #block37 {
        width: 100%;
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        display: flex;
    }
}

@media (max-width: 768px) {
    .export_kho_pc {
        display: none;
    }

    .export_kho_mb_tl .export_wh {
        flex-wrap: nowrap;
    }

    .export_kho_mb_tl {
        display: block !important;
    }

    .item_body_overview {
        width: 359px;
    }

    .flex_swap_select_equipment_supplies {
        flex-wrap: wrap;
    }

    #block01 {
        width: 100%;
        order: 1;
    }

    #block03 {
        width: 100%;
        order: 1;
    }

    #block02 {
        width: 100%;
        order: 2;
        margin-top: 20px;
    }

    #upload_equips {
        width: 100%;
        order: 1;
    }

    #add_infomation {
        width: 100%;
        order: 2;
    }

    #add_equip {
        width: 100%;
        order: 3;
        margin-bottom: 0;
    }

    #details_equip {
        width: 100%;
        order: 4;
        margin-bottom: 20px;
    }

    .input_create_equipment_supplies {
        padding: 0 20px 0 20px;
    }

    .upload_equipment_supplies {
        padding: 0 20px 0 20px;
    }

    #upload_equipment_supplies {
        order: 1;
        width: 100%;
        margin-top: 20px;
    }

    #description_detail_table {
        order: 2;
        width: 100%;
    }

    #block10 {
        flex-wrap: wrap;
    }

    #block12 {
        order: 2;
        margin-top: 15px;
        width: 100%;
        justify-content: flex-end;
        display: flex;
    }

    #block11 {
        order: 1;
        width: 100%;
        justify-content: flex-end;
    }

    #block20 {
        order: 2;
        width: 100%;
        justify-content: flex-end;
        margin-top: 15px;
        display: flex;
    }

    #block21 {
        order: 1;
        width: 100%;
        justify-content: flex-end;
    }

    #block32 {
        width: 100;
        flex-wrap: wrap;
    }

    /* .width_create_choose {
        width: 100%;
        margin: 0;
    } */

    #block33 {
        margin-top: 15px;
    }

    #block38 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block36 {
        width: 100%;
        order: 1;
        justify-content: flex-end;
    }

    #block37 {
        width: 100%;
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        display: flex;
    }
}

@media (max-width: 767.98px) {
    .flex_swap_select_equipment_supplies {
        flex-wrap: wrap;
    }

    div#block04 {
        flex-wrap: wrap;
    }

    #block01 {
        width: 100%;
        order: 1;
    }

    #block02 {
        width: 100%;
        order: 3;
        margin-top: 15px;
    }

    #block03 {
        width: 100%;
        order: 2;
        margin-top: 15px;
    }

    #block05 {
        width: 100%;
        order: 4;
    }

    #block06 {
        width: 100%;
        order: 5;
        flex-wrap: wrap;
        margin-top: 15px;
        justify-content: flex-end;
    }

    #block07,
    #block08 {
        flex-wrap: wrap;
    }

    .search_equipment_id {
        width: 100%;
    }

    .pagination {
        width: 100%;
        margin-top: 15px;
        justify-content: flex-end;
    }

    .next_item_g {
        margin-right: 0;
    }

    .mb_30 {
        margin-bottom: 15px;
    }

    .body_equipment_supplies_detail {
        width: 100%;
        /* overflow-x: auto; */
    }

    .srcoll_body_equipment_supplies_detail {
        /* width: 1064px; */
        overflow-x: auto;
    }

    .srcoll_equipment_supplies_detail, .description_detail_equipment {
        width: 1064px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar {
        height: 10px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar-thumb {
        background: #4C5BD4;
        border-radius: 30px;
        min-height: 86px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar-track {
        background: #CCCCCC;
        border-radius: 30px;
    }

    .description_detail {
        padding-right: 20px;
    }

    /* .body_equipment_supplies_detail .header_body_b {
        width: 1064px;
    } */
    .boder_detail {
        margin-right: 15px;
    }

    #index1 {
        order: 1;
        justify-content: flex-end;
        width: 100%;
    }

    #index2 {
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        width: 100%;
    }

    #block09 {
        width: 100%;
        order: 1;
    }

    #block13 {
        display: flex;
        flex-wrap: wrap;
    }

    #block10 {
        width: 100%;
        order: 2;
    }

    #block11 {
        width: 100%;
        margin-top: 15px;
        justify-content: space-between;
    }

    #block11 .button_export_excel {
        margin: 0;
    }

    #block14 {
        width: 266px;
        order: 1;
    }

    #block15 {
        width: 100px;
        order: 2;
        margin-top: 15px;
    }

    #block16 {
        flex-wrap: wrap;
    }

    /* #block15 .no_sort_price {
        width: 195px;
    } */
    #block15 .all_provenance {
        width: 141px;
    }

    #block17 {
        flex-wrap: wrap;
    }

    #block18 {
        width: 100%;
        order: 1;
    }

    #block19 {
        width: 100%;
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        /* display: flex; */
    }

    #block22 {
        width: 100%;
        order: 0;
    }

    #block21 {
        width: 100%;
        order: 2;
        justify-content: space-between;
        margin-top: 15px;
    }

    #block20 {
        width: 100%;
        order: 3;
    }

    .go_set_permissions .button_set_permissions {
        margin-right: 0;
    }

    #block23 {
        width: 100%;
    }

    #block24 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block25 {
        width: 100%;
    }

    #block26 {
        margin-top: 15px;
    }

    .b {
        left: 25px;
        top: 51px;
    }

    #block27 {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    #block28 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block29,
    #block30 {
        margin-top: 15px;
    }

    #block31 {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 0;
    }

    #block31 .date_cr_export {
        margin-top: 15px !important;
    }

    #block31 .all_kho_export {
        margin-top: 15px;
    }

    #block31 .date_cr {
        margin-top: 15px;
    }

    .export_kho_mb_tl .export_wh {
        /* justify-content: space-between; */
        width: 100%;
    }

    .hd_tablet {
        display: none;
    }

    .hd_mobie {
        display: block !important;
        margin-bottom: 15px;
        justify-content: flex-end;
        width: 100%;
    }

    .hd_mobie .hd_ex {
        justify-content: flex-end;
        width: 100%;
    }

    .search_wh {
        margin-right: 0 !important;
    }

    #block34 {
        margin-right: 0;
        width: 100%;
    }

    #block35 {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    #block36 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block39 {
        margin-top: 15px;
    }

    #block40 {
        margin-top: 15px;
    }

    .item_body_overview {
        width: 100%;
    }
}

@media (max-width: 480px) {

    .date_create.mt_20 {
        margin-top: 15px;
    }

    .all_kho_export.mr_20 {
        margin-left: 0px;
    }
    .flex_swap_select_equipment_supplies {
        flex-wrap: wrap;
    }

    div#block04 {
        flex-wrap: wrap;
    }

    #block01 {
        width: 100%;
        order: 1;
    }

    #block02 {
        width: 100%;
        order: 3;
        margin-top: 15px;
    }

    #block03 {
        width: 100%;
        order: 2;
        margin-top: 15px;
    }

    #block05 {
        width: 100%;
        order: 4;
    }

    #block06 {
        width: 100%;
        order: 5;
        flex-wrap: wrap;
        margin-top: 15px;
        justify-content: flex-end;
    }

    #block07,
    #block08 {
        flex-wrap: wrap;
    }

    .search_equipment_id {
        width: 100%;
    }

    .pagination {
        width: 100%;
        margin-top: 15px;
        justify-content: flex-end;
    }

    .next_item_g {
        margin-right: 0;
    }

    .mb_30 {
        margin-bottom: 15px;
    }

    .body_equipment_supplies_detail {
        width: 100%;
        /* overflow-x: auto; */
    }

    .srcoll_body_equipment_supplies_detail {
        /* width: 1064px; */
        overflow-x: auto;
    }

    .srcoll_equipment_supplies_detail, .description_detail_equipment {
        width: 1064px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar {
        height: 10px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar-thumb {
        background: #4C5BD4;
        border-radius: 30px;
        min-height: 86px;
    }

    .srcoll_body_equipment_supplies_detail::-webkit-scrollbar-track {
        background: #CCCCCC;
        border-radius: 30px;
    }

    .description_detail {
        padding-right: 20px;
    }

    /* .body_equipment_supplies_detail .header_body_b {
        width: 1064px;
    } */
    .boder_detail {
        margin-right: 15px;
    }

    #index1 {
        order: 1;
        justify-content: flex-end;
        width: 100%;
    }

    #index2 {
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        width: 100%;
    }

    #block09 {
        width: 100%;
        order: 1;
    }

    #block13 {
        display: flex;
        flex-wrap: wrap;
    }

    #block10 {
        width: 100%;
        order: 2;
    }

    #block11 {
        width: 100%;
        margin-top: 15px;
        justify-content: space-between;
    }

    #block11 .button_export_excel {
        margin: 0;
    }

    #block14 {
        width: 266px;
        order: 1;
    }

    #block15 {
        width: 100px;
        order: 2;
        margin-top: 15px;
    }

    #block16 {
        flex-wrap: wrap;
    }

    /* #block15 .no_sort_price {
        width: 195px;
    } */
    #block15 .all_provenance {
        width: 141px;
    }

    #block17 {
        flex-wrap: wrap;
    }

    #block18 {
        width: 100%;
        order: 1;
    }

    #block19 {
        width: 100%;
        order: 2;
        margin-top: 15px;
        justify-content: flex-end;
        /* display: flex; */
    }

    #block22 {
        width: 100%;
        order: 0;
    }

    #block21 {
        width: 100%;
        order: 2;
        justify-content: space-between;
        margin-top: 15px;
    }

    #block20 {
        width: 100%;
        order: 3;
    }

    .go_set_permissions .button_set_permissions {
        margin-right: 0;
    }

    #block23 {
        width: 100%;
    }

    #block24 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block25 {
        width: 100%;
    }

    #block26 {
        margin-top: 15px;
    }

    .b {
        left: 25px;
        top: 51px;
    }

    #block27 {
        width: 100%;
        flex-wrap: wrap;
        padding-bottom: 15px;
    }

    #block28 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block29,
    #block30 {
        margin-top: 15px;
    }

    #block31 {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 0;
    }

    #block31 .date_cr {
        margin-top: 15px;
    }

    #block31 .all_kho_export {
        margin-top: 15px;
    }

    .export_kho_mb_tl .export_wh {
        justify-content: space-between;
        width: 100%;
    }

    .hd_tablet {
        display: none;
    }

    .hd_mobie {
        display: block !important;
        margin-bottom: 15px;
        justify-content: flex-end;
        width: 100%;
    }

    .hd_mobie .hd_ex {
        justify-content: flex-end;
        width: 100%;
    }

    .search_wh {
        margin-right: 0 !important;
    }

    #block34 {
        margin-right: 0;
        width: 100%;
    }

    #block35 {
        margin-left: 0;
        width: 100%;
        margin-top: 15px;
    }

    #block36 {
        width: 100%;
        flex-wrap: wrap;
    }

    #block39 {
        margin-top: 15px;
    }

    #block40 {
        margin-top: 15px;
    }

    .main_popup_500 {
        width: 345px;
    }

    .popup_cancel_equipment_materials .margin_a {
        width: 345px;
    }

    .pd_lr_77 {
        padding-left: 0;
        padding-right: 0;
    }
    .button_add_new_equipment_supplies {
        padding-top: 10px;
    }
    .hw_check_80{
        width: 80%;
    }
}
