                .all_input_form {
                    width: 239px;
                    height: 36px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding: 0px 15px;
                }

                .pd_b_20 {
                    padding-bottom:20px;
                }
                
                button {
                    cursor: pointer;
                }
                
                .all_checkin_status {
                    width: 252px;
                    height: 36px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding: 0px 15px;
                }
                
                .main_add_stock .main_table_add_stock .table_add_stock {
                    width: 1979px;
                }
                
                .wh_main .popup_add_wh .box_content,
                .wh_main .popup_edit_wh .box_content {
                    margin-top: 50px;
                    margin-bottom: 25px;
                }
                /* .main_list_wh .popup_add_wh_set .box_content {
                margin: 50px auto;
            } */
                
                .table_add_stock td {
                    padding: 10px;
                }
                
                .main_table_add_stock img {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                }
                
                .main_table_add_stock {
                    width: 100%;
                    overflow-x: auto;
                    border: 10px;
                    padding-bottom: 5px;
                    border-radius: 10px 10px 0px 0px;
                }
                
                table.table_add_stock tr th {
                    background: #4C5BD4;
                    color: #ffffff;
                    position: relative;
                    text-align: center;
                }
                
                table.table_add_stock {
                    border-collapse: collapse;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    background: #FFFFFF;
                }
                
                table.table_add_stock thead tr td:first-child {
                    border-radius: 10px 0px 0px 0px;
                }
                
                table.table_add_stock tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                table.table_add_stock tr th:nth-child(1) {
                    text-align: center;
                }
                
                table.table_add_stock tr th:nth-child(2) {
                    text-align: center;
                }
                
                table.table_add_stock tr td:nth-child(10) img {
                    object-fit: contain;
                    width: 16px;
                    height: 14px;
                    margin: 5px;
                    border-radius: unset;
                }
                
                .main_table_add_stock::-webkit-scrollbar {
                    height: 10px;
                }
                
                .main_table_add_stock::-webkit-scrollbar-thumb {
                    background: #4C5BD4;
                    border-radius: 30px;
                    min-height: 86px;
                }
                
                .main_table_add_stock::-webkit-scrollbar-track {
                    background: #CCCCCC;
                    border-radius: 30px;
                }
                /* l7-danh-sach-kho */
                
                .top_in_wh_create {
                    margin-top: 20px;
                }
                
                .under_kho .l_nav select {
                    background: #FFFFFF;
                    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
                    border-radius: 10px;
                }
                
                .content_popup select {
                    width: 100%;
                    margin: 0 auto 15px;
                    padding: 10px 12px;
                    height: 36px;
                    border: 1px solid #CCCCCC;
                    border-radius: 3px;
                    outline: none;
                }
                
                .img_button_add_new,
                .img_button_export_excel {
                    margin-left: 27px;
                }
                
                .header_kho {
                    margin-top: 15px;
                    margin-bottom: 15px;
                }
                
                .main_kho .box_main_kho {
                    width: 100%;
                    overflow-x: auto;
                    border-radius: 10px;
                    padding-bottom: 5px
                }
                
                .main_kho table.table_ds_kho thead tr td:nth-child(7) {
                    width: 20%;
                }
                
                table.table {
                    border-collapse: collapse;
                    border-radius: 10px;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    background: #FFFFFF;
                }
                
                thead tr td {
                    padding: 15px 10px;
                }
                
                table tr td .span_thead::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                table.table thead tr td {
                    background: #4C5BD4;
                    color: #ffffff;
                    position: relative;
                    text-align: center;
                    border: none;
                }
                
                table.table_ds_kho thead tr td:first-child {
                    border-radius: 10px 0px 0px 0px;
                }
                
                table.table_ds_kho tbody tr:nth-child(even) td {
                    background: #EEEEEE;
                }
                
                table.table_ds_kho tbody tr td:nth-child(n+3) {
                    text-align: left;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                
                .table.table_ds_kho tbody tr td {
                    text-align: center;
                }
                
                table.table_ds_kho tbody tr td:first-child {
                    border-left: 0px;
                }
                
                table.table_ds_kho tbody tr td:last-child {
                    width: 6%;
                }
                
                table.table_add_stoke_info tbody tr td:last-child {
                    width: 11%;
                }
                
                table.table_ds_kho tbody tr td {
                    font-size: 14px;
                    line-height: 16px;
                    vertical-align: middle;
                }
                
                table.table_ds_kho tr td:nth-child(8) img {
                    object-fit: none;
                    margin-right: 5px;
                    height: auto;
                    width: auto;
                    border-radius: unset;
                }
                
                table.table_ds_kho img {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                }
                
                a {
                    text-decoration: none;
                }
                
                table.table_ds_kho tbody tr td:nth-child(8) {
                    border-right: none;
                }
                
                .main_kho::-webkit-scrollbar {
                    height: 10px;
                }
                
                .main_kho::-webkit-scrollbar-thumb {
                    background: #4C5BD4;
                    border-radius: 30px;
                    min-height: 86px;
                }
                
                .main_kho::-webkit-scrollbar-track {
                    background: #CCCCCC;
                    border-radius: 30px;
                }
                
                .under_kho {
                    padding-top: 12px;
                }
                
                .wh_main .popup_show {
                    overflow: auto;
                }
                
                .popup_func_dv .select-construction {
                    /* height: 36px; */
                    margin-bottom: 15px;
                    /* padding: 8px 12px; */
                    border-radius: 3px;
                    /* border: 1px solid #CCCCCC; */
                    outline: none;
                }
                /* popup tồn kho */
                
                .box_popup .select_construction .select2-selection {
                    height: 36px;
                    /* border-radius: 3px; */
                    border: 1px solid #CCCCCC;
                    outline: none;
                    margin-top: 5px;
                    box-shadow: none;
                }
                
                .popup_add_wh .select2-container--default .select2-selection--single,
                .popup_edit_wh .select2-container--default .select2-selection--single {
                    border-radius: 3px;
                    box-shadow: none;
                    border: 1px solid #CCCCCC;
                    background: #FFFFFF;
                }
                
                .popup_add_wh .select-construction .select2-container--default .select2-selection--single {
                    border-radius: 0px;
                    box-shadow: none;
                    border: 1px solid #CCCCCC;
                }
                
                .body_inventory_create .select2-selection {
                    min-height: 36px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_inventory_create .select2-container .select2-selection--single {
                    height: 36px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .wh_main .popup_add_wh .box_content .content_popup div,
                .popup_edit_wh .box_content .content_popup div {
                    padding-bottom: 15px;
                }
                
                .popup_add_wh_set .box_content .content_popup div {
                    padding-bottom: 15px;
                }
                
                .popup_add_wh_set .box_content .content_popup .btn_ct_pp {
                    padding-bottom: 0px;
                }
                /* .popup_add_wh_set .box_content {
                margin-top: 0px;
            } */
                /* thêm mới phiếu nhập kho */
                
                .no_sort_quantily {
                    width: 195px;
                    height: 36px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    padding: 10px 15px 10px 15px;
                    border: 0;
                }
                
                .body_input_infor_vote .select2-selection {
                    min-height: 36px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_input_infor_vote .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
                    border-radius: 3px;
                }
                
                .body_import_warehouse_create {
                    width: 100%;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    border-radius: 10px;
                }
                
                .top_in_wh_create .select2-container--default .select2-selection--single {
                    box-shadow: none;
                }
                
                .table_inventory .btn_ivt_kk {
                    margin-top: 5px;
                }
                
                .body_inventory_create tr td:nth-child(3) {
                    padding: 0px;
                    text-align: left;
                }
                
                #f_import_wh_create table tr td input {
                    border: none;
                    height: 36px;
                    width: 100%;
                    outline: none;
                }
                
                .table_ds_vt table tr td input {
                    border: none;
                    height: 36px;
                    width: 100%;
                    outline: none;
                }
                
                .main_tabl table tr td:nth-child(8) {
                    padding: 0px 15px;
                }
                
                .table_inventory .btn_ivt_kk .btn_comp {
                    border: 1px;
                    /* padding: 9px 45px; */
                    background: #34B632;
                    height: 40px;
                }
                
                .table_inventory .btn_ivt_kk button {
                    width: 138px;
                    padding: 9px 20px;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    border-radius: 5px;
                    border: none;
                    margin-left: 30px;
                    margin-bottom: 25px;
                }
                
                .table_inventory .btn_ivt_kk .btn_cancel {
                    background: #FFFFFF;
                    border: 1px solid #4C5BD4;
                }
                
                table.table_list_meterial tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                .body_import_warehouse_create input,
                .body_import_warehouse_create select {
                    height: 36px;
                    /* margin-bottom: 15px; */
                    padding: 8px 12px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_import_warehouse_create textarea {
                    /* margin-bottom: 15px; */
                    padding: 8px 12px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_import_warehouse_create p {
                    margin-bottom: 5px;
                }
                
                .body_input_infor_vote {
                    padding: 10px 20px 0;
                }
                
                .input_vote_infor1,
                .input_vote_infor2 {
                    width: 50%;
                    padding-top: 10px;
                }
                
                .import_wh_main .filter_dtl {
                    flex-wrap: wrap;
                    align-items: flex-start;
                }
                
                .import_wh_main .filter_dtl .all_kho {
                    margin-bottom: 15px;
                }
                
                .import_wh_main .filter_dtl .date_cr {
                    margin-bottom: 15px;
                }
                
                .wh_main .search_wh,
                .import_wh_main .search_wh {
                    width: 420px;
                }
                /* phiếu thông tin nhập kho */
                
                .header_info_button {
                    margin: 20px auto;
                }
                
                .btn_deny {
                    margin-right: 15px;
                    padding: 9px 22px;
                    background: #666666;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    border: none;
                }
                
                .btn_ht {
                    margin-right: 15px;
                    background: #2A38A2;
                }
                
                .btn_kk {
                    margin-right: 15px;
                    background: #4C5BD4;
                }
                
                .btn_acp {
                    background: #2A38A2;
                    margin-right: 15px;
                    padding: 9px 22px;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    border: none;
                }
                
                .all_material {
                    width: 266px;
                    height: 36px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
                    border: 0;
                }
                
                .item_body_info_rq {
                    padding: 16px 20px;
                    border-bottom: 1px dashed #CCCCCC;
                }
                
                .body_info_rq img {
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                    border-radius: 50%;
                }
                
                table.table_list_meterial_input_info tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                table.tabke_list_meterial_input tr th {
                    font-size: 14px;
                    line-height: 19px;
                    font-weight: 500;
                }
                
                .btn_search {
                    width: 420px;
                    margin-right: 15px;
                }
                
                .btn_search .search_equipment_id {
                    width: 100%;
                }
                /* nhập kho create 2 */
                
                table.table_list_meterial-2 tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                table.table_list_meterial-2 tr td:nth-child(3),
                table.table_list_meterial-2 tr td:nth-child(5) {
                    text-align: left;
                }
                
                table.table_list_meterial-2 tr td:nth-child(n+7) {
                    text-align: right;
                }
                
                table.table_list_meterial-2 tr td:nth-child(7) {
                    background: #EEEEEE;
                }
                /* nhập kho create 3 */
                
                table.table_list_meterial-3 tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                .table_list_meterial-3 tr td:nth-child(3),
                .table_list_meterial-3 tr td:nth-child(5) {
                    text-align: left;
                }
                
                /* .table_list_meterial-3 tr td:nth-child(3) {
                    padding: 0px;
                } */
                
                table.table_list_meterial-3 tr td:nth-child(n+7) {
                    text-align: right;
                }
                
                table.table_list_meterial-3 tr td:nth-child(2),
                table.table_list_meterial-3 tr td:nth-child(4),
                table.table_list_meterial-3 tr td:nth-child(5),
                table.table_list_meterial-3 tr td:nth-child(8),
                table.table_list_meterial-3 tr td:nth-child(6),
                table.table_list_meterial-3 tr td:nth-child(9) {
                    background: #EEEEEE;
                }
                
                .main_overview .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                .main_overview .table_add_stock_detail3 tr td:nth-child(n+7) {
                    text-align: right;
                }
                
                table.table_list_meterial-5 tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                .table_list_meterial-5 tr td:nth-child(7),
                .table_list_meterial-5 tr td:nth-child(8) {
                    background: #EEEEEE;
                }
                
                .date_rq {
                    margin-right: 15px;
                }
                /* kiểm kê */
                
                .inventory_main .input_sr_wh input {
                    width: 100%;
                }
                
                .inventory_main .search_wh {
                    width: 420px;
                }
                
                .invemtory_detail1 {
                    width: 1135px;
                }
                
                .inventory_main .b_fil div {
                    margin-top: 15px;
                }
                
                .body_inventory_create {
                    margin-top: 15px;
                }
                
                .all_iv_tf {
                    width: 26%;
                    margin-right: 15px;
                }
                
                .inventory_main {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-end;
                    background: #F7F8FC;
                }
                
                .inventory_main table td:last-child img {
                    margin-right: 5px;
                    width: 16px;
                    height: 14px;
                    object-fit: contain;
                }
                
                .inventory_main table {
                    width: 2341px;
                }
                
                .inventory_main table td {
                    padding: 13px;
                }
                /* thêm mới phiếu kiểm kê */
                
                .view_main {
                    padding: 20px;
                    width: calc(100% - 280px);
                    margin-bottom: 200px;
                }
                
                .main_overview .pre_q {
                    left: 0px;
                }
                
                .main_overview .next_q {
                    right: 0px;
                }
                
                .body_inventory_create {
                    width: 100%;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    border-radius: 10px;
                }
                
                .note_import_vote_infor textarea {
                    margin-bottom: 15px;
                    padding: 8px 12px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_inventory_create table {
                    width: 1131px;
                }
                
                .body_inventory_create input,
                .body_inventory_create select {
                    height: 36px;
                    padding: 8px 12px;
                    border-radius: 3px;
                    border: 1px solid #CCCCCC;
                    outline: none;
                }
                
                .body_inventory_create table tr td select {
                    margin-bottom: 0px;
                    border: none;
                    padding: 0px;
                }
                
                .body_inventory_create table tr th .span_thread::before {
                    content: "";
                    width: 1px;
                    background: #ffffff;
                    height: 80%;
                    position: absolute;
                    right: 0px;
                    top: 10%;
                }
                
                .body_input_infor_vote .select2-container--default .select2-selection--single .select2-selection__rendered {
                    line-height: normal;
                }
                /* phiếu kiểm kê */
                
                .view_main table .select2-container--default .select2-selection--single,
                .main_overview table .select2-container--default .select2-selection--single {
                    border: none;
                    box-shadow: none;
                }
                
                .info_input_order {
                    margin-top: 15px;
                    background: #FFFFFF;
                    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
                    border-radius: 10px;
                }
                
                .btn_hd_375 {
                    display: none;
                }
                
                .import_wh_main .hd_ex1 {
                    display: none;
                }
                
                .main_list_wh .popup_add_wh_set {
                    overflow: auto;
                }
                
                .width_create {
                    width: calc(100%/2 - 10px);
                }
                
                .table_kt .table_vt{
                    width: 1331px;
                }

                @media (max-width:1331px) {
                    .table_kt .table_vt{
                        width: 100%;
                    }
                    .table_kt .next_q{
                        display: none;
                    }
                }


                @media (max-width:1024px) {
                    /* danh sách kho */
                    .main_list_wh .list_wh .header_list_wh .option_wh_list {
                        flex-wrap: wrap;
                    }
                    .header_list_wh {
                        align-items: flex-end;
                        position: relative;
                        margin-top: 15px;
                        margin-bottom: 0px;
                    }
                    .header_list_wh .btn_hd {
                        margin-bottom: 15px;
                        right: 0;
                        position: absolute;
                    }
                    .import_wh_main {
                        padding: 15px;
                        margin-top: 45px;
                    }
                    .wh_main {
                        width: 100%;
                        padding: 15px;
                        margin-top: 45px;
                    }
                    .main_list_wh .title_list_wh {
                        display: block !important;
                    }
                    .header_list_wh .select2-selection {
                        margin-bottom: 15px;
                    }
                    .main_list_wh .popup_show {
                        overflow: auto;
                    }
                    /* nhập kho create */
                    .top_in_wh_create {
                        width: 96%;
                        margin: 60px auto 20px;
                    }
                    .top_in_wh_create .head_wh {
                        margin: 15px 0px;
                    }
                    .title_wh {
                        display: block !important;
                    }
                    .table_input_wh {
                        margin: 0px 15px;
                    }
                    /* nhập kho detail */
                    .main_import_wh_detail {
                        width: 96%;
                        margin: 60px auto;
                    }
                    .import_wh_detail .operation_wh {
                        margin-top: 0px;
                    }
                    .export_wh {
                        flex-wrap: wrap;
                        align-items: flex-start;
                        justify-content: flex-end;
                    }
                    .import_wh_detail .export_wh {
                        /* width: 85%; */
                        justify-content: flex-end;
                    }
                    .import_wh_detail .export_wh .btn_px {
                        margin-right: 0px;
                    }
                    .import_wh_detail .export_wh .btn_ex {
                        margin-left: 15px;
                    }
                    .import_wh_detail .export_wh button {
                        margin-top: 15px;
                        margin-left: 15px;
                        margin-right: 0px;
                    }
                    /* kiểm kê kho */
                    .inventory_main .box_right_ct {
                        width: 100%;
                        padding: 0px;
                    }
                    .inventory_main .block_wh_tf {
                        padding: 15px;
                        margin-top: 45px;
                    }
                    .inventory_main .t_fill {
                        margin: 15px 0px;
                    }
                    .inventory_main .date_rq {
                        width: 370px;
                    }
                    .inventory_main .filter_dtl .date_cr {
                        width: 289px;
                    }
                    .inventory_main .block_wh_tf .filter_dtl .b_fil .date_pf {
                        width: 330px;
                        /* margin-top: 15px; */
                    }
                    .inventory_main .filter_dtl div {
                        /* margin-top: 15px; */
                    }
                    .inventory_main .filter_dtl .b_fil .all_ex {
                        width: 293px;
                    }
                    .inventory_main .filter_dtl .all_iv_tf {
                        width: 270px;
                    }
                    /* kiểm kê -create */
                    .main_ivt_create {
                        width: 96%;
                        margin: 60px auto;
                    }
                    .main_ivt_create .head_wh {
                        margin-top: 15px;
                    }
                    /* kiểm kê detail */
                    .inventory_detail1 .box_right_ct {
                        width: 100%;
                        padding: 0px;
                    }
                    .inventory_detail1 .export_wh {
                        width: 100%;
                    }
                    .inventory_detail1 .export_wh button {
                        margin: 7.5px 0 7.5px 15px;
                    }
                    .inventory_detail1 .head_wh {
                        margin-top: 15px;
                    }
                    /* .inventory_detail1 .box_right_ct .info_input_order,
                .inventory_detail1 .box_right_ct .tb_operation_wh {
                    margin: 0px 15px;
                } */
                    .inventory_detail1 .block_wh_tf_add {
                        width: 94%;
                        margin: 60px auto;
                    }
                    .inventory_detail1 .box_right_ct .tit_table_vt {
                        /* margin-left: 15px; */
                    }
                    .inventory_detail1 .box_right_ct .block_wh_tf_add .head_wh {
                        background: none;
                        box-shadow: none;
                        display: block !important;
                    }
                    .inventory_detail1 .box_right_ct .block_wh_tf_add .operation_wh {
                        margin-top: 0px;
                        /* margin-right: 15px; */
                    }
                }
                /* màn 768 */
                
                @media(max-width: 768px) {
                    /* .wh_main .export_wh {
                    flex-wrap: wrap;
                    justify-content: flex-end;
                } */
                    .top_in_wh_create .input_infor_vote {
                        flex-direction: column;
                    }
                    .wh_main .export_wh .btn_px {
                        margin-top: 15px;
                    }
                    .wh_main .btn_search {
                        width: 62.2%;
                    }
                    .main_list_wh .btn_search {
                        width: 420px;
                    }
                    .import_wh_main .export_wh .btn_px {
                        /* margin-top: 15px; */
                        margin-right: 0px;
                    }
                    .import_wh_main .export_wh .hd_ex {
                        order: 1;
                    }
                    .wh_main .header_kho {
                        align-items: flex-start;
                    }
                    .option_wh_list {
                        flex-wrap: wrap;
                    }
                    /* nhập kho */
                    .import_wh_main .operation_wh {
                        align-items: flex-end;
                        /* margin: -35px 0px 15px 0px; */
                    }
                    .import_wh_main .operation_wh .export_wh {
                        flex-wrap: nowrap;
                    }
                    .import_wh_main .operation_wh .export_wh button {
                        /* margin-right: 0px; */
                        /* margin-left: 15px; */
                    }
                    .import_wh_main .operation_wh .export_wh .btn_ex {
                        /* margin-top: 15px; */
                    }
                    .import_wh_main .filter_dtl .date_cr {
                        width: 289px;
                    }
                    .import_wh_main .filter_dtl .all_kho_export {
                        margin-bottom: 15px;
                    }
                    .import_wh_main .operation_wh .hd_ex {
                        display: none;
                    }
                    .import_wh_main .all_kho_status_export {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                    }
                    .import_wh_main .hd_ex1 {
                        display: block;
                    }
                    .inventory_main .btn_ex {
                        margin-right: 0px;
                    }
                    .input_vote_infor1,
                    .input_vote_infor2 {
                        padding: 0px;
                    }
                    .inventory_main .hd_ex {
                        /* margin-top: 15px; */
                        margin-left: 15px;
                    }
                    .main_import_wh_detail .info_input_order {
                        width: 100%;
                        overflow-y: hidden;
                        overflow-x: scroll;
                    }
                    .main_import_wh_detail .imp_bill {
                        width: 1046px;
                    }
                    .width_create {
                        width: 100%;
                    }
                    .wh768 {
                        flex-wrap: wrap;
                    }
                    /* kiểm kê crate*/
                    .body_inventory_create .input_infor_vote {
                        flex-direction: column;
                    }
                    .input_vote_infor1,
                    .input_vote_infor2 {
                        width: 100%;
                    }
                    .input_vote_infor1 .select2 .select2-container .select2-container--default,
                    .input_vote_infor2 .select2 .select2-container .select2-container--default {
                        width: 100%;
                    }
                    .inventory_main .export_wh .btn_px {
                        margin-top: 15px;
                        margin-left: 15px;
                    }
                    .inventory_main .export_wh {
                        justify-content: flex-end;
                    }
                }
                /* màn 480 */
                
                @media(min-width: 437px) and (max-width: 560px) {
                    .wh_main .export_wh .btn_px {
                        order: unset;
                        margin: 0;
                        margin-right: 15px
                    }
                }
                
                @media(max-width:480px) {
                    .wh_main .search_wh
                    .import_wh_main .search_wh {
                        width: 100%;
                    }
                    .wh_main .header_kho {
                        flex-direction: column;
                    }
                    .wh_main .export_wh {
                        justify-content: space-between;
                        width: 100%;
                    }
                    .main_list_wh .btn_search {
                        width: 100%;
                    }
                    .main_list_wh .btn_hd {
                        display: none;
                    }
                    .main_list_wh .btn_hd_375 {
                        display: block;
                        margin-top: 15px;
                    }
                    .main_list_wh .search_equipment_id {
                        width: 100%;
                    }
                    .main_list_wh .operation_wh_375 {
                        justify-content: flex-end;
                        flex-direction: column;
                    }
                    .table_inventory .btn_ivt_kk {
                        flex-wrap: wrap;
                    }
                    .main_list_wh .btn_wh_list_375 {
                        justify-content: space-between;
                        width: 100%;
                    }
                    .wh_main .header_kho .btn_search {
                        width: 100%;
                    }
                    .wh_main .header_kho .btn_search .search_equipment_id {
                        width: 100%;
                    }
                    .import_wh_main .operation_wh {
                        flex-direction: column;
                    }
                    
                    .wh_main .search_wh,
                    .import_wh_main .search_wh {
                        width: 100%;
                    }
                    .wh_main .search_wh .input_sr_wh,
                    .import_wh_main .search_wh .input_sr_wh {
                        width: 100%;
                    }
                    .import_wh_main .operation_wh .export_wh {
                        justify-content: space-between;
                        flex-wrap: wrap;
                        margin-top: 15px;
                        width: 100%;
                    }
                    .import_wh_main .hd_ex1 {
                        display: none;
                    }
                    .import_wh_main .operation_wh .export_wh .hd_ex {
                        margin-bottom: 0px;
                        /* margin-left: 15px; */
                        /* margin-top: 15px; */
                        display: flex;
                    }
                    .import_wh_detail .export_wh button {
                        margin: 15px 0px 0px 15px;
                    }
                    .main_import_wh_detail .title_wh {
                        margin-top: 15px;
                    }
                    /* .inventory_main .operation_wh {
                    flex-direction: column;
                } */
                    .import_wh_main .operation_wh .export_wh .btn_ex {
                        margin-top: 0px;
                        margin-bottom: 15px;
                    }
                    .inventory_main .operation_wh .search_wh {
                        width: 100%;
                    }
                    .inventory_main .operation_wh .search_wh .input_sr_wh {
                        width: 100%;
                    }
                    .inventory_detail1 .export_wh {
                        justify-content: flex-end;
                    }
                    .inventory_main .export_wh .btn_px {
                        margin-top: 0px;
                        margin-left: 0px;
                    }
                    .inventory_main .export_wh {
                        justify-content: space-between;
                        flex-wrap: wrap;
                    }
                    .inventory_detail1 .info_input_order {
                        width: 100%;
                        overflow-y: hidden;
                        overflow-x: scroll;
                    }
                    .inventory_detail1 .main_info_ivt_bill {
                        width: 1046px;
                    }
                    /* .box_content p {
                    margin: 0px;
                } */
                    .import_wh_main .export_wh .btn_px {
                        margin-top: 0px;
                    }
                }
                
                .imp_wh_bb table.table tr td,
                .imp_wh_dc table.table tr td,
                .imp_wh_back table.table tr td,
                .imp_wh_supply table.table tr td,
                .imp_wh_df table.table tr td {
                    background: #FFFFFF;
                }
                
                @media (min-width: 481px) and (max-width: 560px) {
                    .main_list_wh .export_wh {
                        margin-top: 0px;
                    }
                    
                    .import_wh_main .search_wh,
                    .wh_main .search_wh {
                        width: 100%;
                    }
                }
                
                @media (min-width:1367px) {
                    .body_inventory_create table {
                        width: 100%;
                    }
                }
                
                @media(max-width:437px) {
                    .inventory_main .export_wh .btn_px {
                        margin-top: 15px;
                    }
                }
                
                input:read-only,
                select:read-only {
                    opacity: 1;
                    background-color: #EEEEEE;
                    border: 1px solid #CCCCCC;
                }