.box_right_ct table img/* Trang chủ CSS */
.gr_dv_add #cke_37,.gr_dv_add #cke_51,
.gr_dv_edit #cke_37,.gr_dv_edit #cke_51{
    display: none;
}

.box_user_name{
    /* max-width: 120px; */
}

.share_clr_tow{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.mb_15 {
    margin-bottom: 15px;
}

textarea {
    resize: none;
}

.tit_box_home {
    padding: 40px 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(35, 47, 135, 0.58);
}

button {
    position: relative;
}

button a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
}

.btn_close {
    width: 100%;
    padding: 8px 72px;
    border-radius: 5px;
    border: 1px solid #4C5BD4;
}

.box_right_ct {
    width: calc(100% - 280px);
    height: auto;
    padding: 20px;
    padding-bottom: 86px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.box_right_ct table img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.warehouse_transfer_add table img, .warehouse_transfer_edit table img {
    border-radius: unset;
}

.popup_show {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.box_content {
    width: 500px;
    padding: 40px 50px;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    margin: auto;
    margin-top: 100px;
}

.box_content p {
    margin: 36px auto;
}

.popup_desc .content_popup::-webkit-scrollbar{
    width: 10px;
    min-height: 127px;
}
.detail_unit .table_gr_vt::-webkit-scrollbar,
.inventory_detail1 .info_input_order::-webkit-scrollbar,
.gr_dv .ct_block_gr .table_gr_vt::-webkit-scrollbar,
.table_vt_scr::-webkit-scrollbar {
    max-width: 650px;
    height: 10px;
}


/* select2 radius */

.seclec2_radius {}

.seclec2_radius .select2-container--open .select2-dropdown,
.seclec2_radius .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.seclec2_radius .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 3px;
}

.seclec2_radius .select2-container--default .select2-selection--single {
    box-shadow: none;
}


/* .box_right_ct::-webkit-scrollbar, */


.select2-container--open .select2-dropdown::-webkit-scrollbar {
    width: 10px;
    max-height: 80px;
}

.detail_unit .table_gr_vt::-webkit-scrollbar-track,
.inventory_detail1 .info_input_order::-webkit-scrollbar-track,
.gr_dv .ct_block_gr .table_gr_vt::-webkit-scrollbar-track,

/* .box_right_ct::-webkit-scrollbar-track, */
.popup_desc .content_popup::-webkit-scrollbar-track,

.table_vt_scr::-webkit-scrollbar-track,
.select2-container--open .select2-dropdown::-webkit-scrollbar-track {
    border-radius: 30px;
    background: #EEEEEE;
}

.detail_unit .table_gr_vt::-webkit-scrollbar-thumb,
.inventory_detail1 .info_input_order::-webkit-scrollbar-thumb,
.gr_dv .ct_block_gr .table_gr_vt::-webkit-scrollbar-thumb,

/* .box_right_ct::-webkit-scrollbar-thumb, */
.popup_desc .content_popup::-webkit-scrollbar-thumb,


.table_vt_scr::-webkit-scrollbar-thumb,
.select2-container--open .select2-dropdown::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background: #4C5BD4;
}

.detail_unit .table_gr_vt::-webkit-scrollbar-thumb:hover,
.gr_dv .ct_block_gr .table_gr_vt::-webkit-scrollbar-thumb:hover,
.inventory_detail1 .info_input_order::-webkit-scrollbar-thumb:hover,

/* .box_right_ct::-webkit-scrollbar-thumb:hover, */
.popup_desc .content_popup::-webkit-scrollbar-thumb:hover,

.table_vt_scr::-webkit-scrollbar-thumb:hover,
.select2-container--open .select2-dropdown::-webkit-scrollbar-thumb:hover {
    border-radius: 30px;
    background: #5e6cd1;
}

.box_right {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    background: #F7F8FC;
}

th {
    position: relative;
}

.span_tbody::before {
    content: "";
    width: 1px;
    background: #ffffff;
    height: 80%;
    position: absolute;
    right: 0px;
    z-index: 1;
    top: 10%;
}

.add_vt {
    display: flex;
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #4C5BD4;
}

.select2-container--default .select2-selection--single {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.l_nav .select2-container .select2-selection--single {
    height: 28px;
}

.l_nav .select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 6px;
}

.l_nav .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 1px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-top: 10px;
    padding-left: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #474747;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.select2-results__option--selectable,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #474747;
    font-size: 14px;
}

.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #4C5BD4;
    color: #ffffff;
}


/* .select2-results__options li {
    height: 36px;
} */

.select2-results__option {
    padding: 8.5px;
}

.select2-container--default .select2-results>.select2-results__options {
    max-height: 180px;
    overflow-x: unset;
    overflow-y: unset;
}
/*  */

.bg_log_img img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Mô tả */
.gr_dv_add #cke_editor,
.gr_dv_edit #cke_editor {
    height: 258px;
    margin-bottom: 15px;
}

.gr_dv_add #cke_editor #cke_1_contents,
.gr_dv_edit #cke_editor #cke_1_contents {
    height: auto !important;
}

.popup_select_date input[type="date"] {
    position: relative;
    padding: 10px;
}

.popup_select_date input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

.popup_select_date input[type="date"]:before {
    color: transparent;
    display: block;
    content: '';
    background: url('../images/select_date.png') no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 9px;
    right: 10px;
}

.img_date {
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 11px;
}

.href_item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
}


/* header_top */

.home_page,
.main_home,
.box_home,
.header_home {
    width: 100%;
}

.box_home {
    background: #ffffff;
}

.header_top {
    position: fixed;
    width: 100%;
    padding: 9px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

.icon_header {
    position: absolute;
    width: 22px;
    top: 15px;
    left: 15px;
    cursor: pointer;
    display: none;
}

.icon_header_tbl {
    display: block;
    margin-bottom: 4px;
    border-bottom: 2px solid #FFFFFF;
}

.icon_header_tbl:last-child {
    margin: 0;
}

.box_right_ct .icon_header_tbl {
    border-bottom: 3px solid #FFFFFF;
}

.active_menu {
    border-bottom: 1px solid #ffffff;
}

.menu_ul li {
    margin-right: 30px;
}

.menu_ul li>a:active {
    color: unset;
}

a:target {
    color: blue;
    outline: none;
}

.log_in-out {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    width: 181px;
    height: 34px;
    border-radius: 10px;
    background: #232F87;
}

.menu_tabl {
    display: none;
    position: absolute;
}

.menu_tabl .menu_resp {
    width: 246px;
    background: #4C5BD4;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 100vh;
}

.menu_tabl .menu_resp li {
    height: 40px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.menu_tabl .menu_resp li img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    object-fit: contain;
}


/* header_body */

.header_body {
    width: 100%;
}

.box_header_body {
    width: 100%;
}

.picture_header_home {
    width: 100%;
}

.instruct_page .box_header_body .picture_header_body {
    width: 100%;
    background: url('../images/bg_hd.png') no-repeat;
    background-size: cover;
    height: 579px;
}

.text_slogen {
    width: 620px;
    /* top: 168px; */
    font-style: normal;
    top: 230px;
    left: 86px;
}

.slogen_content {
    padding: 15px 0px 40px;
}

.register_now {
    width: 218px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFA800;
    border-radius: 60px;
    background: #FFA800;
    filter: drop-shadow(3px 6px 8px rgba(0, 0, 0, 0.4));
}

.chat_w_us {
    position: fixed;
    bottom: 32px;
    right: 14px;
    cursor: pointer;
    z-index: 99;
}

.tit_chat_us {
    margin-top: 12px;
    padding: 8px 12px;
    background: #76B51B;
    border: 1px solid #76B51B;
    border-radius: 8px 8px 0px 0px;
}


/* salient_features */

.box_features {
    margin: 0 224px 10px 224px;
}

.item_features {
    margin: 0 0 30px 0;
    width: 31.33%;
    /* height: 186px; */
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.header_item_features {
    padding: 14px 20px;
    height: 80px;
}

.tit_header_item {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.item_features:nth-child(1) .header_item_features {
    background: #E0FDB5;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(1) .header_item_features .tit_header_item {
    color: #609E05;
}

.item_features:nth-child(2) .header_item_features {
    background: #B3D9FE;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(2) .header_item_features .tit_header_item {
    color: #025CB4;
}

.item_features:nth-child(3) .header_item_features {
    background: #E1C5EC;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(3) .header_item_features .tit_header_item {
    color: #682A81;
}

.item_features:nth-child(4) .header_item_features {
    background: #B7F2FB;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(4) .header_item_features .tit_header_item {
    color: #087D90;
}

.item_features:nth-child(5) .header_item_features {
    background: #C5E1ED;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(5) .header_item_features .tit_header_item {
    color: #2B6D88;
}

.item_features:nth-child(6) .header_item_features {
    background: #FFCCCC;
    border-radius: 10px 10px 0px 0px;
}

.item_features:nth-child(6) .header_item_features .tit_header_item {
    color: #FF1A1A;
}

.icon_header_item {
    height: 36px;
    width: 36px;
    object-fit: contain;
    margin-left: 20px;
}

.body_item_features {
    padding: 15px 20px;
    text-align: justify;
}


/* manage_supplies365 */

.box_supplies365 {
    padding: 0 97px;
    background: #EAECFA;
}

.item_supplies365 {
    padding-bottom: 68px;
}

.item_supplies365:last-child {
    padding-bottom: 40px;
}

.picture_item_supplies365 {
    width: 540px;
    height: 325px;
}

.item_supplies365:nth-child(odd) .picture_item_supplies365 {
    margin-right: 68px;
}

.item_supplies365:nth-child(even) .picture_item_supplies365 {
    margin-left: 68px;
}

.tit_content_item {
    margin-bottom: 25px;
}

.content_manage {
    margin-bottom: 20px;
}

.check_green {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}


/* outstand_of_digital */

.box_outstand {
    padding: 0 52px 40px;
}

.item_outstand {
    width: 236px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
    border-radius: 10px;
}

.content_item_outstand {
    height: 224px;
    margin: auto 20px;
    /* padding-bottom: 32px; */
    text-align: justify;
    border-bottom: 1px dashed #EEEEEE;
}

.icon_outstands {
    margin-top: 25px;
}

.tit_outstand {
    margin: 10px auto 20px;
}

.home_page .see_details {
    padding: 9px;
}

.arrow_right {
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #4C5BD4;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
    top: 13px;
    right: 17px;
}


/* user_manual  */

.box_user_manual {
    padding: 40px 152px;
    background: #EAECFA;
}

.video_user_manual {
    margin-right: 50px;
}

.text_user_manual {
    text-align: justify;
    margin: 15px auto 40px;
}


/* download_app */

.box_download_app {
    padding: 0 36px 40px;
}

.qr_download {
    margin-right: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.gg_play_download {
    margin-bottom: 12px;
}


/* question_frequent */

.box_question {
    padding: 0 86px 40px;
    background: #EAECFA;
}

.box_question_left {
    width: 60%;
}

.item_question {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
}

.pre_next_q {
    width: 100%;
    top: 272px;
}

.pre_arrow {
    display: block;
    width: 10px;
    height: 10px;
    border: 3px solid #4C5BD4;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    margin-left: 4px;
}

.next_arrow {
    display: block;
    width: 10px;
    height: 10px;
    border: 3px solid #4C5BD4;
    border-top: none;
    border-left: none;
    transform: rotate(-45deg);
    margin-right: 4px;
}

.pre_q,
.next_q {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.86);
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.pre_q {
    left: 0px;
}

.next_q {
    right: 0px;
}

.name_question {
    background: #ffffff;
    padding: 15px 15px 0;
    border-radius: 10px 10px 0px 0px;
}

.name_pp {
    margin-bottom: 4px;
}

.text_question {
    padding: 20px 0;
}

.rep_question {
    padding: 15px 15px 16px 67px;
    background: #F7F8FC;
    border-radius: 0px 0px 10px 10px;
}

.top_rep_question {
    margin-bottom: 15px;
}

.top_rep_question img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}

.bot__rep_question {
    margin-top: 5px;
}

.content_rep_question{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.bot__rep_question .see_mores {
    margin-right: 15px;
    width: fit-content;
    cursor: pointer;
}

.bot__rep_question .hide_less {
    cursor: pointer;
}

.bot__rep_question .arrow_right {
    top: 4px;
    right: 5px;
}

.arrow_left {
    display: block;
    width: 8px;
    height: 8px;
    border: 2px solid #4C5BD4;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    top: 4px;
    right: 52px;
}

.q_paginition_detail {
    display: block;
    width: 25px;
    height: 5px;
    margin-right: 15px;
    background: #C4C4C4;
    border-radius: 100px;
}

.q_paginition_detail:last-child {
    margin: 0;
}

.q_paginition_detail.q_paginition_active {
    background: #4C5BD4;
}

.box_question_right {
    width: 38.5%;
}

.search_question {
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.search_question input {
    width: 80%;
    height: 36px;
    padding: 9px 13px;
    border-radius: 10px 00px 0px 10px;
    outline: none;
    border: none;
}

.text_search {
    width: 20%;
    height: 36px;
    padding: 9px 13px;
    background: #4C5BD4;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_search span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.question_f_ad {
    width: 100%;
    padding: 17px 20px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.t_title_a {
    margin-bottom: 20px;
}

.t_title_a img {
    margin-right: 10px;
}

.b_question_a p {
    margin-bottom: 5px;
}

.b_question_a input {
    height: 36px;
}

.b_question_a input,
.b_question_a textarea {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
}

.capcha_code_q {
    width: calc(60% - 10px);
}

.code_cf {
    width: calc(40% - 10px);
}

.code_cf .random_code {
    width: 80%;
    margin-right: 8px;
    padding: 16px 26px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send_q {
    width: 100%;
    height: 42px;
    margin-top: 10px;
    padding: 12px;
    box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.16);
    border-radius: 60px;
    border: none;
}


/* explain_ql */

.box_explain_ql {
    padding: 40px 129px;
}

.img_qlk_w img {
    width: 72%;
    margin: 11px auto 15px;
}


/* Footer start */

footer.footer {
    width: 100%;
    padding: 67px 76px;
    background: #043379;
}

.footer .footer_box {
    display: flex;
    justify-content: space-between;
}

.footer_box .footer_left {
    width: calc(40%);
}

.footer_box .footer_right {
    width: calc(60%);
}

.left_ttct {
    width: calc(100% - 40px);
}

.footer_left .box_footer_left {
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 57px;
}

.left_ttct .dvcq {
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.left_ttct .name_company {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-top: 3px;
}

.footer_box .left_ttlh {
    padding: 19px 0px;
}

.left_ttlh .item_ttlh {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 9px;
}

.item_ttlh .text_ttlh {
    padding-left: 8px;
    padding-top: 6px;
}

.item_ttlh .text_ttlh .thep_ttlh {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 7px;
    color: #FFFFFF;
}

.left_menu_li .box_left_menu_li {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.box_left_menu_li .item_left_li {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    margin-top: 12px;
}

.left_menu_li .item_left_li .name_left_li {
    position: relative;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 10px;
}
.left_menu_li .item_left_li .name_left_li a{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.box_left_menu_li .item_left_li:last-child {
    margin-top: 26px;
}

.box_left_menu_li .item_left_li:last-child a:first-child img {
    margin-right: 40px;
}

.img_logo {
    position: absolute;
}

.footer_right .box_footer_right {
    display: flex;
    justify-content: space-between;
}

.box_footer_right .right_code .title_right_code {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    color: #ffffff;
}

.box_footer_right .right_code .box_img_code {
    display: flex;
    justify-content: center;
    padding: 33px 16px;
}

.item_img_code {
    margin: 10px;
}

.right_code .box_img_code img {
    width: 112px;
    height: 112px;
    object-fit: contain;
}

.right_code .box_img_code p {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
}

.right_code .form_btn_downl {
    display: flex;
    flex-direction: column;
}

.form_btn_downl .item_down {
    background: #FFFFFF;
    padding: 0 23px 0 62px;
    position: relative;
    border-radius: 62px;
    margin-top: 14px;
    height: 57px;
    display: flex;
    align-items: center;
}

.form_btn_downl .item_down img {
    position: absolute;
    left: 6px;
    top: 7px;
}

.form_btn_downl .item_down p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #474747;
}

.box_footer_right .right_code,
.box_footer_right .right_img_ct {
    width: 50%;
}

.right_img_ct {
    display: flex;
    justify-content: space-around;
}

.right_img_ct img {
    width: 100%;
    margin-left: 62px;
    object-fit: contain;
}

.footer .det_l .det_link {
    display: flex;
    margin-top: 20px;
}

.font_weight_bold p {
    display: block;
    width: 120px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.det_l .det_link .list_det_link {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.det_l .det_link .list_det_link a {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-left: 23px;
    margin-bottom: 14px;
}

.det_l .det_ic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.det_l .det_ic p {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.det_l .det_ic .link_logo img {
    margin-left: 20px;
}

.list_img_1024 {
    display: none;
}

.display_none {
    display: none;
}

.somenu_tdn {
    display: none;
}


/* Footer end*/


/*  */


/* Trang hướng dẫn Css */

.box_instruct {
    background: #EAECFA;
}

.box_instruct .mobi_download {
    margin-top: 30px;
}

.box_instruct .gg_play_download {
    margin: 0;
    margin-right: 16px;
}

.box_instruct .d_ins_b {
    width: 80%;
    height: 53%;
    top: 120px;
    left: 140px;
    right: 140px;
}

.box_instruct .video_user_manual {
    margin: 0;
    width: 52%;
    height: 100%;
}

.content_instruct {
    margin: 24px 20px 0;
    padding-bottom: 20px;
}

.instruct_tit {
    width: 52%;
    width: 40%;
}

.nav_sidebar_ins {
    width: 280px;
    height: 600px;
    background: #ffffff;
    border-radius: 10px;
}

.nav_sidebar_ins_tbl {
    display: none;
}

.ul_sidebar_ins li {
    position: relative;
    height: 50px;
    padding: 14px 16px;
}

.img_li_ins {
    width: 22px;
    height: 22px;
    margin-right: 15px;
}

.img_li_ins img {
    width: 22px;
    height: 22px;
    object-fit: contain;
}

.li_sidebar_ins.sidebar_actived {
    background: #4C5BD4;
}

.li_sidebar_ins.sidebar_actived .tit_sidebar_ins {
    color: #FFFFFF;
}

.li_sidebar_ins.sidebar_actived:first-child {
    border-radius: 10px 10px 0px 0px;
}

.li_sidebar_ins.sidebar_actived:last-child {
    border-radius: 0px 0px 10px 10px;
}

.block_ct_ins {
    width: calc(100% - 300px);
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.ct_ins_t {
    margin-bottom: 20px;
}

.tit_ins_t {
    padding: 14px 36px 5px;
}

.srt_ct_ins {
    padding: 0 36px 5px 52px;
}

.img_rvw img {
    width: 60.5%;
    margin-top: 20px;
    margin-bottom: 15px;
}


/* Nghiệp vụ kho chờ xử lí css */

#app {
    background: #F7F8FC;
}

.head_wh {
    height: 57px;
    padding: 14px 24px 15px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.head_tab {
    display: none;
}

.head_tab+p {
    padding-right: 8px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.operation_wh {
    margin: 20px auto;
}

.search_wh {
    width: 45.8%;
    margin-right: 15px;
}

.warehouse_pending .search_wh {
    width: 80.3%;
    justify-content: flex-start;
}

.warehouse_pending .input_sr_wh {
    width: 53%;
}

.fil_wh {
    margin-right: 15px;
}

.fil_wh {
    width: 242px;
}

.input_sr_wh {
    width: 100%;
}

.box_input_sr {
    width: 420px;
}

.input_sr_wh input {
    width: 420px;
    height: 36px;
    padding: 8px 48px 8px 12px;
    background: #FFFFFF;
    border: 1px solid #666666;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    outline: none;
}

.select_status {
    margin-bottom: 15px;
}

.select_status,
.select_status select,
.select_status input,
.select_status div:first-child {
    width: 100%;
}

.select_status div:last-child {
    display: none;
}

.icon_sr_wh::before {
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    background: url('../images/icon-sr.png') no-repeat;
    top: 8px;
    right: 16px;
    cursor: pointer;
}

.warehouse_transfer .export_wh button {
    margin: 7.5px 0 7.5px 15px;
}

.warehouse_transfer .operation_wh {
    margin: 7.5px auto 0;
}

.inventory_detail1 .export_wh button{
    padding: 9px 8px;
}

.export_wh button {
    width: 138px;
    padding: 9px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: none;
}

.export_wh button p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.export_wh button:last-child {
    margin-right: 0;
}

.dt_dl_n .export_wh button:last-child {
    margin-right: 15px;
}

.btn_tc {
    margin-right: 15px;
    background: #FFA800;
}

.btn_dt {
    margin-right: 15px;
    background: #2A38A2;
}

.btn_ex {
    margin-right: 15px;
    background: #34B632;
}

.warehouse_transfer .export_wh {
    margin: 0;
}

.export_wh img {
    margin-right: 8px;
}

.btn_px {
    margin-right: 15px;
    background: #4C5BD4;
}

.btn_del {
    margin-right: 15px;
    background: #ffffff;
}

.btn_ex img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
}

.hd_ex {
    width: 117px;
}

.hd_ex img {
    width: 36px;
    height: 36px;
    margin-right: 6px;
    border-radius: 50%;
}

.table_vt_scr {
    width: 100%;
    /* padding-bottom: 5px; */
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

.table_vt {
    /* margin-bottom: 5px; */
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    /* overflow-y: hidden; */
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
}

table tr {
    height: 50px;
    text-align: center;
}

table td {
    padding: 15px;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    vertical-align: middle;
}

th {
    padding: 15px;
    height: 50px;
}

table input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

table img {
    margin-right: 10px;
}

table td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}

.tit_tbl td {
    border-right: 1px solid #ffffff;
    text-align: center;
}

.tit_tbl td:last-child {
    border: none;
    border-radius: 0 10px 0 0;
}

.tit_tbl td:first-child {
    border-radius: 10px 0px 0 0;
}

.w_navigation {
    width: 100%;
    margin-top: 12px;
}

.l_nav select {
    padding: 5px 20px;
}

.l_nav p {
    margin-right: 10px;
}

.r_nav ul li {
    display: block;
    padding: 3px 5px 1px;
    color: #666666;
    border: 1px solid #666666;
    border-radius: 3px;
    margin-left: 9px;
    background: #ffffff;
}

.paging_detail {
    border: 1px solid #4C5BD4 !important;
    color: #ffffff !important;
    background: #4C5BD4 !important;
}

.r_paginition_detail:active {
    color: #ffffff;
    background: #4C5BD4;
}

.nguoi_thuc_hien.mb_15:last-child{
    margin: 0;
}

/* Thông tin phiếu yêu  cầu vật tư */

.info_rq {
    width: 100%;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.warehouse_transfer .info_rq {
    margin-top: 7.5px;
}

.tit_info_rq {
    padding: 16px 20px;
    border-radius: 10px 10px 0 0;
}

.list_ct_info_rq img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    border-radius: 50%;
}

.item_ct_info_rq {
    padding: 16px 20px;
    border-bottom: 1px dashed #CCCCCC;
}

.item_ct_info_rq:last-child {
    border: none;
}

.tit_it {
    width: 25%;
}

.tit_it+p,
.tit_it+div {
    width: 75%;
}

.tit_table_vt {
    margin: 20px auto;
}

.table_ds_vt {
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.table_ds_vt input {
    outline: none;
    border: none;
    text-align: right;
}

.table_ds_vt tr:nth-child(1) td {
    padding: 16px 15px !important;
    /* text-align: center !important; */
}

input:disabled,
select:disabled {
    opacity: 1;
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
}

.add_ex_wh {
    width: 100%;
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
}

.ct_add_ex_wh {
    padding: 20px 20px 0;
    overflow: hidden;
}

.ct_add_ex_wh p {
    margin-bottom: 5px;
}

.l_add_ex,
.r_add_ex {
    width: calc(50% - 10px);
}

.ct_add_ex_wh input,
.ct_add_ex_wh select {
    width: 100%;
    height: 36px;
    /* margin-bottom: 15px; */
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    outline: none;
}

.ct_add_ex_wh select {
    padding-left: 8px;
}

.ct_add_ex_wh .select2-selection {
    height: 36px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    outline: none;
}

.ct_add_ex_wh .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
    border-radius: 3px;
}

.ct_add_ex_wh textarea {
    margin-bottom: 15px;
    padding: 8px 12px;
    border-radius: 3px;
    border: 1px solid #CCCCCC;
    outline: none;
}

.btn_cf_rq button {
    margin: 24px 30px 96px;
    padding: 8px 72px;
    border-radius: 5px;
}

.btn_cf_rq button:first-child {
    border: 1px solid #4C5BD4;
}

.btn_cf_rq button:last-child {
    border: 1px solid #4C5BD4;
}

.popup_ex_st .box_content p {
    margin: 24px auto;
}


/* Nhóm vật tư thiết bị CSS */

.group_device {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.ct_block_gr .table_gr_vt_scr {
    width: 100%;
}

.table_gr_vt table {
    width: 100%;
}

.box_right_ct table tr td:last-child img {
    position: relative;
    top: 2px;
    margin-right: 5px;
    width: 16px;
    height: 14px;
    object-fit: contain;
    border-radius: unset;
}

.table_gr_vt {
    width: 100%;
    /* margin-bottom: 5px; */
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    overflow: hidden;
}

.sort_gr_dv {
    margin: 20px auto;
}

.sort_gr_dv .item_sort:first-child {
    /* width: 17%; */
    width: 182px;
    margin-right: 15px;
}

.sort_gr_dv .item_sort:nth-child(2) {
    /* width: 13.5%; */
    width: 141px;
    margin-right: 15px;
}

.sort_gr_dv .item_sort:last-child {
    /* width: 18.6%; */
    width: 195px;
}

#r_add_img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 3px;
}

#r_add_img.upload_equipment_supplies {
    padding: 0;
}

#r_add_img .upload_file_img,
#r_add_img .ready_upload_logo,
#r_add_img .upload_logo_vehicle_done {
    padding: 0;
    height: 332px;
}

#r_add_img .upload_file_img p {
    margin-top: 8px;
}

.popup_n .box_content {
    padding: 0;
    border-radius: 10px;
}

.header_box {
    height: 50px;
    padding: 16px;
    border-radius: 10px 10px 0px 0px;
}

.popup_n .box_content .header_box p {
    margin: 0;
}

.popup_n .content_popup {
    padding: 20px 20px 16px;
}

.popup_desc .content_popup{
    max-height: 210px;
    overflow-y: scroll;
}

.popup_desc .box_content p,
.popup_ref_w .box_content p,
.popup_tc_import_wh .box_content p,
.popup_deny_kk .box_content p,
.popup_select_date .box_content p,
.popup_func_dv_add .box_content p,
.popup_func_dv_edit .box_content p {
    margin: 0;
    margin-bottom: 5px;
}

.popup_func_del .box_content p {
    margin: 48px auto 44px;
}

.content_popup input {
    width: 100%;
    /* margin: 0 auto 15px; */
    padding: 10px 12px;
    height: 36px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
}

.content_popup textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    outline: none;
}

.btn_ct_pp button {
    padding: 8px 56px;
    margin: 24px 34px;
    border-radius: 6px;
}

.btn_ct_pp button:first-child {
    border: 1px solid #4C5BD4;
}

.btn_ct_pp button:last-child {
    border: 1px solid #4C5BD4;
}


/* Đơn vị tính CSS */

.add_unit .icon_add_unit {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background: #ffffff;
    border-radius: 50%;
    border: 1.4px solid #4C5BD4;
}

.icon_add_unit span {
    position: absolute;
    top: -2px;
    right: 2.5px;
}

.th_desc{
    width: 400px;
}

.td_desc{
    max-width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}



/* Điều chuyển kho CSS */

.warehouse_transfer_main table {
    width: 2552px;
}

.warehouse_transfer_add table td:nth-child(3) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.warehouse_transfer_add .select2-container--default .select2-selection--single {
    box-shadow: none;
}

.filter_dtl select {
    width: 100%;
}

.t_fil {
    margin: 5px 0 0;
}

.t_fil div {
    margin-top: 15px;
}

.all_ex,
.all_in {
    width: 292px;
    margin-right: 15px;
}

.all_st_tf {
    width: 270px;
    margin-right: 15px;
}

.date_cr,.date_in  {
    /* width: 28%; */
    width: 294px;
    margin-right: 15px;
    height: 36px;
    padding: 10px 11px 8px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.date_cr p,.date_fn p,
.date_pf p,.date_rq p,
.date_in p
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.date_cr img,
.date_rq img,
.date_pf img,
.date_fn img,
.date_in img {
    width: 15px;
    height: 15px;
}

.date_pf {
    width: 326px;
    height: 36px;
    margin-right: 15px;
    padding: 10px 11px 8px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.date_rq {
    width: 389px;
    height: 36px;
    padding: 10px 11px 8px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.select2-container--open .select2-dropdown {
    top: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: auto;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-radius: 10px;
}

.select_tb {
    border: none;
    outline: none;
}

.select_tb option {
    max-height: 180px;
    overflow-y: scroll;
}

p.del_w {
    margin: 48px auto 52px;
}

.warehouse_transfer table {
    /* width: 1135px; */
    width: 100%;
}


/* Báo cáo Css */

.date_fn {
    width: 343px;
    margin-right: 15px;
    height: 36px;
    padding: 10px 11px 8px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.all_in_wh,
.all_ex_wh {
    width: 240px;
    margin-right: 15px;
    height: 36px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.date_invt {
    width: 181px;
    margin-right: 15px;
    height: 36px;
    padding: 10px 11px 8px 15px;
    background: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.sort_invt {
    width: 206px;
    margin-right: 15px;
}

.report_wh_in .table_vt_scr,
.report_wh_ex .table_vt_scr,
.report_wh_inventory .table_vt_scr {
    overflow-x: unset;
    overflow-y: unset;
    border-radius: 10px;
}

.report_wh_in .table_vt,
.report_wh_ex .table_vt,
.report_wh_inventory .table_vt {
    overflow-y: hidden;
}

.date_invt input {
    width: 105px;
    height: 16px;
}

.report_wh_inventory .date_invt input[type="date"] {
    padding: 0;
    border: none;
    outline: none;
    background: #ffffff;
}

.report_wh_inventory .date_invt input[type="date"]::-webkit-calendar-picker-indicator {
    width: 15px;
    padding: 0px;
    margin: 0px;
}


/* Dữ liệu đã xóa gần đây CSS */

.list_data_deleted {
    margin-top: 20px;
}

.item_data_deleted {
    position: relative;
    width: calc((100% - 40px)/3);
    margin: 0px 20px 20px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #ffffff;
    padding: 16px;
    cursor: pointer;
}

.item_data_deleted:nth-child(3),
.item_data_deleted:nth-child(6) {
    margin-right: 0;
}

.tit_dt_dl img {
    width: 26px;
    height: 26px;
    margin-right: 10px;
    object-fit: contain;
}

.body_dt_dl span {
    margin-right: 10px;
}

.btn_del_vv,
.btn_del_rm {
    margin-right: 15px;
}

.box_right .pre_q {
    left: 8px;
}

.box_right .next_q {
    right: 8px;
}

.dt_dl_n .operation_wh .hd_ex {
    margin-left: 15px;
    cursor: pointer;
}

.dt_dl_n .export_wh button {
    margin: 0;
    margin-left: 15px;
    cursor: pointer;
}

.dt_dl_n .search_wh {
    margin: 0;
}

@media (max-width: 1365px) {
    .box_input_sr,
    .input_sr_wh input {
        width: 100%;
    }

    .detail_unit .table_gr_vt,
    .detail_unit .table_gr_vt{
        padding-bottom: 5px;
        overflow-x: scroll;
    }
    .detail_unit table,
    .table_manufacturer{
        width: 1046px;
    }
    .next_q.display_none{
        display: flex;
    }
}

@media (min-width: 1362px) {
    .right_img_ct,.box_footer_right {
        /* height: 480px; */
        height: 456px;
    }
}



/* TABLET 1024 */

@media (max-width: 1024px) {
    .icon_header {
        display: block;
    }
    .chat_w_us {
        display: none;
    }
    picture.picture_item_supplies365 img {
        width: 100%;
        object-fit: contain;
    }
    /* TRANG CHỦ */
    .header_top {
        justify-content: center;
    }
    .menu_header {
        display: none;
    }
    .box_header_body {
        display: flex;
        justify-content: center;
        height: 392px;
        background: #4C5BD4;
    }
    .box_header_body .picture_header_home {
        display: none;
    }
    .text_slogen {
        position: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 798px;
    }
    .text_slogen h1,.text_slogen p {
        padding: 15px 28px 40px
    }
    .box_features {
        margin: 0 52px 10px 52px;
    }
    .box_supplies365 {
        padding: 0 71px;
    }
    .item_supplies365 {
        padding: 0 172px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .item_supplies365:nth-child(odd) .picture_item_supplies365 {
        margin: 0;
        margin-bottom: 40px;
    }
    .item_supplies365:nth-child(even) .picture_item_supplies365 {
        margin: 0;
        margin-bottom: 40px;
    }
    .content_item_supplies365 {
        margin-bottom: 20px;
    }
    .item_supplies365:last-child {
        padding-bottom: 0;
    }
    .outstand_of_digital .tit_box_home {
        padding-bottom: 30px;
    }
    .box_outstand {
        padding: 0 118px 30px;
    }
    .list_outstand {
        justify-content: center;
        flex-wrap: wrap;
    }
    .item_outstand {
        margin: 10px;
    }
    .box_user_manual {
        padding: 40px 100px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .content_user_manual {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .content_user_manual p {
        text-align: center;
    }
    .content_user_manual br {
        display: none;
    }
    .box_user_manual .register_now {
        margin-bottom: 40px;
    }
    .box_question {
        padding: 0 52px 40px;
    }
    .box_explain_ql {
        padding: 40px 96px;
    }
    footer.footer {
        padding: 37px 16px 40px 31px;
    }
    .right_img_ct img {
        margin-left: 17px;
    }
    .tit_content_item{
        text-align: center;
    }
    .search_question{
        display: none;
    }
    .search_question.search_question_mobile{
        display: flex;
    }
    /* TRANG HƯỚNG DẪN */
    .instruct_page .box_header_body .picture_header_body {
        display: block;
        position: absolute;
        height: 100%;
    }
    .instruct_page .box_header_body {
        background: none;
    }
    .instruct_tit br {
        display: none;
    }
    .instruct_tit .mobi_download {
        justify-content: center;
        margin-bottom: 40px;
    }
    .box_instruct .d_ins_b {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 76%;
        margin-top: 112px;
        position: unset;
        z-index: 1;
    }
    .instruct_tit {
        width: 100%;
        padding: 0 34px;
        text-align: center;
    }
    .box_header_body {
        height: 597px;
    }
    .content_instruct {
        flex-direction: column;
    }
    .nav_sidebar_ins {
        display: none;
    }
    .nav_sidebar_ins_tbl {
        display: block;
        position: relative;
    }
    .nav_sidebar_selected {
        height: 50px;
        padding: 14px 16px;
        margin-bottom: 20px;
        background: #4C5BD4;
        border-radius: 10px;
    }
    .dropdown_menu1 {
        position: absolute;
        right: 20px;
        top: 24px;
        border-width: 5.5px 7px;
        border-style: solid;
        border-color: #ffffff transparent transparent transparent;
        cursor: pointer;
    }
    .dropdown_menu2 {
        content: "";
        display: none;
        position: absolute;
        right: 20px;
        top: 16px;
        border-width: 5.5px 7px;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent;
        cursor: pointer;
    }
    .nav_sidebar_ins_tbl .ul_sidebar_ins {
        width: 100%;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    }
    .block_ct_ins {
        width: 100%;
    }
    .video_user_manual {
        margin: 0;
    }
    .box_question .tit_box_home+div {
        flex-direction: column;
    }
    .box_question_left,
    .box_question_right {
        width: 100%;
        margin-top: 20px;
    }
    .text_search {
        width: 14%;
    }
    .search_question input {
        width: 88%;
    }
    .capcha_code_q {
        width: calc(83% - 10px);
    }
    .code_cf {
        width: calc(17% - 10px);
    }
    /* NGHIỆP VỤ KHO CHỜ XỬ LÍ */
    .warehouse_pending .export_wh .btn_ex {
        margin: 0;
        margin-bottom: 15px;
    }
    .box_right_ct {
        width: 100%;
        padding: 0;
    }
    .block_change {
        padding: 15px;
        position: relative;
    }
    .operation_wh {
        margin: 15px auto;
    }
    .head_wh {
        padding: 0;
        height: unset;
        background: none;
        box-shadow: none;
        border: none;
    }
    .head_tab {
        display: flex;
        background: #4C5BD4;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 45px;
        padding: 0 15px;
    }
    .head_tab+p {
        margin-top: 44px;
    }
    .head_tab .icon_header {
        position: unset;
    }
    .head_tab .nav_header {
        display: flex;
    }
    .head_wh p+.nav_header {
        display: none;
    }

    .xem_them{

    }
    /* NHÓM VẬT TƯ THIẾT BỊ */
    .gr_dv .table_gr_vt table,
    .report_wh_in table,
    .report_wh_ex table,
    .report_wh_inventory table {
        width: 1046px;
    }
    
    .gr_dv .ct_block_gr .table_gr_vt {
        padding-bottom: 5px;
        overflow-x: scroll;
    }
    /* BÁO CÁO */
    .report_wh_in .table_vt_scr,
    .report_wh_ex .table_vt_scr,
    .report_wh_inventory .table_vt_scr {
        overflow-x: scroll;
    }
    .report_wh_in .table_vt,
    .report_wh_ex .table_vt,
    .report_wh_inventory .table_vt {
        overflow: unset;
    }
    /* ĐIỀU CHUYỂN KHO */
    .table_vt_scr.table_vt_scr_none{
        overflow-x: scroll;
    }
    .warehouse_transfer table{
        width: 1135px;
    }
}


/* TABLET 768 */

@media (max-width: 768px) {
    .tit_it {
        width: 30%;
    }
    .tit_it+p,
    .tit_it+div {
        width: 70%;
    }
    /* TRANG CHỦ */
    .text_slogen .register_now {
        margin-bottom: 40px;
    }
    .text_slogen {
        margin-top: 80px;
    }
    .box_features {
        margin: 0 83px 10px 83px;
    }
    .box_features .tit_box_home {
        padding: 40px 85px;
    }
    .item_features {
        width: calc(50% - 15px);
    }
    .box_supplies365 {
        padding: 0 114px;
    }
    .box_supplies365 .tit_box_home {
        padding: 40px 34px;
    }
    .item_supplies365 {
        padding: 0;
    }
    .picture_item_supplies365 {
        width: 100%;
    }
    .box_outstand {
        padding: 0 50px 30px;
    }
    .content_user_manual br {
        display: block;
    }
    .capcha_code_q {
        width: calc(76% - 10px);
    }
    .code_cf {
        width: calc(24% - 10px);
    }
    .rep_question {
        padding: 16px;
    }
    .code_reset {
        width: 20%;
    }
    /* TRANG HƯỚNG DẪN */
    .img_rvw img {
        width: 98%;
    }
    /* NGHIỆP VỤ KHO CHỜ XỬ LÍ */
    .warehouse_pending .export_wh .btn_ex {
        margin: 0;
    }
    .warehouse_pending .operation_wh {
        align-items: flex-end;
    }
    .warehouse_pending .search_wh {
        flex-direction: column;
    }
    .warehouse_pending .export_wh {
        flex-direction: column-reverse;
    }
    .warehouse_pending .export_wh .hd_ex,
    .warehouse_pending .search_wh .fil_wh {
        margin-bottom: 15px;
    }
    .export_wh {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .gr_dv .export_wh .btn_px,
    .unit .export_wh .btn_px {
        margin-top: 15px;
    }
    .export_wh .btn_px {
        margin-right: 0;
        order: 3;
    }
    .wh_pd_detail_tf .export_wh .btn_px,
    .wh_pd_detail_rq .export_wh .btn_px {
        order: unset;
        margin-right: 15px;
    }
    .search_wh {
        /* width: 73%; */
        width: 62%;
    }
    .ct_add_ex_wh .box_add_ex_wh {
        flex-direction: column;
    }
    .gr_dv_add .ct_add_ex_wh .box_add_ex_wh,
    .gr_dv_edit .ct_add_ex_wh .box_add_ex_wh {
        flex-direction: column-reverse;
    }
    .gr_dv_add .l_add_ex .display_none,
    .gr_dv_edit .l_add_ex .display_none{
        display: flex;
    }
    .gr_dv_add .ct_add_ex_wh,
    .gr_dv_edit .ct_add_ex_wh{
        padding-bottom: 20px;
    }
    .l_add_ex,
    .r_add_ex {
        width: 100%;
    }
    /* BÁO CÁO */
    .report_wh_in .search_wh,
    .report_wh_ex .search_wh,
    .report_wh_inventory .search_wh {
        width: 57%;
    }
    /* ĐIỀU CHUYỂN KHO */
    .warehouse_transfer_main .export_wh .btn_px {
        margin-top: 15px;
        margin-left: 15px;
    }
    .warehouse_transfer .export_wh .btn_px {
        order: unset;
    }

    /* DỮ LIỆU ĐÃ XÓA GẦN ĐÂY */
    .item_data_deleted {
        width: calc(100%/2 - 10px);
    }
    .item_data_deleted:nth-child(even) {
        margin-right: 0;
    }
    .item_data_deleted:nth-child(3) {
        margin-right: 20px;
    }
    .dt_dl_n .export_wh .btn_del_rm {
        margin-right: 0;
    }
    .dt_dl_n .export_wh {
        flex-wrap: wrap-reverse;
    }
}

@media (max-width: 656px) {
    .report_wh_inventory .search_wh,
    .report_wh_ex .search_wh,
    .report_wh_in .search_wh {
        width: 100%;
        margin-bottom: 15px;
    }
    .report_wh_inventory .operation_wh,
    .report_wh_ex .operation_wh,
    .report_wh_in .operation_wh {
        flex-direction: column;
    }
}


/* MOBILE */

@media (max-width: 480px) {
    .tit_it {
        width: 20%;
    }
    .tit_it+p,
    .tit_it+div {
        width: 80%;
    }
    /* TRANG CHỦ */
    .box_features {
        margin: 0 40px 10px;
    }
    .box_features .tit_box_home {
        padding: 40px 0;
    }
    .item_features {
        width: 100%;
        margin-bottom: 20px;
        height: 186px;
    }
    .body_item_features{
        padding: 0 20px;
        margin: 15px auto;
    }
    .box_supplies365 {
        padding: 0 18px;
    }
    .box_user_manual {
        padding: 40px 20px;
    }
    .input_captcha {
        flex-direction: column-reverse;
    }
    .capcha_code_q {
        width: 100%;
    }
    .code_cf {
        width: 76%;
        margin: 0 auto 12px;
        justify-content: center;
    }
    .code_reset {
        width: 10%;
    }
    .search_question input {
        width: 72%;
    }
    .text_search {
        width: 28%;
    }
    .box_question {
        padding: 0 20px 40px;
    }
    .box_explain_ql {
        padding: 40px 28px;
    }
    .img_qlk_w img {
        width: 100%;
        margin: 11px 0 15px;
    }
    .box_instruct .video_user_manual {
        width: 90%;
    }
    .tit_ins_t {
        padding: 14px 16px 5px;
    }
    .srt_ct_ins {
        padding: 0 16px 5px;
    }
    .instruct_page .box_header_body .picture_header_body {
        height: 605px;
        background-position-x: -200px;
    }
    .box_instruct .d_ins_b {
        margin-top: 64px;
    }
    .picture_item_supplies365{
        height: 204px;
    }
    .content_user_manual br{
        display: none;
    }
    .text_user_manual{
        text-align: justify !important;
    }
    .instruct_tit{
        padding: 0 32px;
    }
    /* TRANG HƯỚNG DẪN */
    .warehouse_pending .operation_wh {
        flex-direction: column;
        align-items: flex-start;
    }
    .warehouse_pending .export_wh {
        width: 100%;
        margin-top: 15px;
        flex-direction: row;
        justify-content: flex-end;
    }
    .warehouse_pending .export_wh .hd_ex {
        margin-bottom: 0;
    }
    .warehouse_pending .input_sr_wh {
        width: 100%;
    }
    .warehouse_pending .search_wh {
        width: 100%;
    }
    .warehouse_pending .fil_wh {
        width: 70%;
    }
    .info_rq {
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .info_rq_scr {
        width: 1046px;
    }
    .wh_pd_detail_tf .export_wh {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .wh_pd_detail_tf .export_wh .btn_px {
        margin: 15px 0 0 24px;
        order: 3;
    }
    .ct_add_ex_wh .d_flex.space_b {
        flex-wrap: wrap;
    }
    .l_add_ex,
    .r_add_ex {
        width: 100%;
    }
    .btn_cf_rq button {
        padding: 8px 56px;
        margin: 24px 15px 96px
    }
    .box_content {
        width: 345px;
        padding: 40px 32px;
    }
    /* NGHIỆP VỤ KHO CHỜ XỬ LÍ */
    .warehouse_pending .export_wh .btn_ex {
        margin-right: 15px;
    }
    /* NHÓM VẬT TƯ THIẾT BỊ */
    .operation_wh {
        flex-wrap: wrap;
    }
    .export_wh {
        margin-top: 15px;
        justify-content: space-between;
    }
    .btn_ct_pp button {
        width: 140px;
        height: 36px;
        padding: 0;
    }
    .btn_ct_pp button:first-child {
        margin-right: 15px;
        margin-left: 0;
    }
    .btn_ct_pp button:last-child {
        margin-left: 15px;
        margin-right: 0;
    }
    .popup_func_del .box_content p {
        padding: 0 56px;
    }
    .popup_add_notif_succ .box_content p {
        padding: 0 40px;
    }
    .flex_start {
        flex-wrap: wrap;
    }
    .sort_gr_dv .item_sort:nth-child(2) {
        margin: 0;
    }
    .sort_gr_dv .item_sort:nth-child(3) {
        margin: 0;
        margin-top: 15px;
    }
    .sort_gr_dv {
        margin-bottom: 0;
    }
    .search_wh {
        width: 100%;
    }
    .gr_dv_detail .operation_wh {
        justify-content: flex-end;
    }
    .gr_dv_detail .export_wh {
        margin-top: 15px;
    }
    .report_wh_in .search_wh,
    .report_wh_ex .search_wh,
    .report_wh_inventory .search_wh {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }
    .report_wh_in .export_wh,
    .report_wh_ex .export_wh,
    .report_wh_inventory .export_wh {
        width: 100%;
        justify-content: space-between;
    }
    /* ĐIỀU CHUYỂN KHO */
    .warehouse_transfer .export_wh {
        justify-content: flex-end;
    }
    /* DỮ LIỆU ĐÃ XÓA GẦN ĐÂY */
    .item_data_deleted {
        width: 100%;
        margin: 0 0 15px 0 !important;
    }
    .dt_dl_n .export_wh {
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}


/* ***************** --o0o-- ***************** */

@media (min-width: 1366px) {
    .box_footer_right .right_code {
        width: 44%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .table_vt_scr.table_vt_scr_none{
        overflow-x: unset;
    }
    .table_vt_scr_none .table_ds_vt{
        margin: 0;
    }
}

@media (min-width: 1025px) and (max-width: 1365px) {
    .box_features {
        margin: 0 52px 10px 52px;
    }
    .tit_outstand+p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
}

@media (max-width: 721px) {
    footer.footer {
        padding-left: 16px;
    }
    .footer_box {
        flex-direction: column;
    }
    .footer_box .footer_left,
    .footer_box .footer_right,
    .left_ttct {
        width: 100%;
    }
    .left_ttct {
        border-bottom: 1px dotted #ffffff;
    }
    .footer_left .box_footer_left {
        border: none;
    }
    .footer_box .left_ttlh {
        padding-bottom: 0;
    }
    .left_menu_li .box_left_menu_li {
        margin-top: 4px;
    }
    .box_left_menu_li .item_left_li:last-child {
        width: 51%;
    }
    .box_footer_right .right_code .box_img_code,
    .title_right_code {
        display: none;
    }
}

@media (max-width: 581px) {
    .box_footer_right .right_code {
        width: 64%;
    }
    .box_footer_right .right_img_ct {
        width: 36%;
    }
    .form_btn_downl .item_down {
        padding: 0 8px 0 40px;
        height: 40px;
    }
    .form_btn_downl .item_down p {
        font-size: 14px;
        line-height: 16px;
    }
    .form_btn_downl .item_down img {
        top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    .det_link {
        flex-direction: column;
    }
    .det_l .det_link .list_det_link {
        margin-top: 14px;
        border-bottom: 1px dotted #ffffff;
    }
    .det_l .det_ic {
        margin-top: 14px;
        flex-wrap: wrap;
    }
    .link_logo {
        width: 100%;
    }
    .det_l .det_ic .link_logo img {
        margin: 12px 20px 0 0;
    }
}


/* 549* */

@media (min-width: 437px) and (max-width: 560px) {
    .search_wh,
    .report_wh_in .search_wh,
    .report_wh_ex .search_wh,
    .report_wh_inventory .search_wh {
        width: 100%;
        margin-bottom: 0;
        margin-right: 0;
    }
    .operation_wh {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .warehouse_pending .operation_wh {
        justify-content: space-between;
    }
    .export_wh {
        margin-top: 15px;
    }
    .gr_dv .export_wh .btn_px,
    .unit .export_wh .btn_px {
        order: unset;
        margin: 0;
        margin-right: 15px;
    }
    /* ĐIỀU CHUYỂN KHO */
    .warehouse_transfer_main .export_wh .btn_px {
        margin-top: 0;
        margin-left: 0;
    }
}

@media (max-width: 459px) {
    .warehouse_transfer_main .export_wh .btn_px {
        margin-top: 15px;
        margin-left: 0;
    }
}


/* ***************** --o0o-- ***************** */